#search-result.l-search-result.j-search-result
    .b-search-result
        h2.b-search-result__ttl Результаты поиска
        .b-search-result__buildings
            .b-search-result__building
                include _search-building
            .b-search-result__building
                include _search-building
            .b-search-result__building
                include _search-building


    include ../../blocks/_ajax-loader
