.b-building
    .b-building__cnt тут какой-то профиль ЖК
        .b-building__progress Построено 80%
    a(href="javascript:;" data-text="Показать 132 квартиры").b-building__more.b-btn.j-btn-more Показать 152 квартиры
    .b-building__results
        table(data-action="").b-building__table
            thead
                tr
                    td План
                    td Комнат
                    td Планировки
                    td Этаж
                    td Общая
                    td
                        a(href="javascript:;" data-sort="living").j-sort.b-building__sort Жилая
                    td
                        a(href="javascript:;" data-sort="price" data-direction="asc").j-sort.b-building__sort.b-building__sort_style_asc При 100% оплате
            tbody
                - for(var i=0; i<3; i++)
                    tr
                        td
                            img(src="/img/search/plan.jpg" alt="Планировка").b-building__plan
                        td 1-комнатная
                        td 1-2d
                        td 6
                        td 40 м<sup>2</sup>
                        td 19 м<sup>2</sup>
                        td 9 546 053 р.

        a(href="javascript:;" data-action="/test/json/search-result-flats.json").b-building__more-results.b-btn.j-building-more Показать ещё 112 квартир
