include ../../mixins/_range-slider

.l-search-filter.j-search-filter
    form(action="/test/json/search.json" data-noinit)
        .b-search-filter.j-search-filter

            .b-search-filter__select-building
                .b-search-filter__ttl Проекты в продаже
                .b-search-filter__building-cnt
                    .b-search-filter__build
                        input(id="build-1" type="checkbox" name="project[1]").b-search-filter__input
                        label(for="build-1").b-search-filter__label ЖК 1
                    .b-search-filter__build
                        input(id="build-2" type="checkbox" name="project[2]").b-search-filter__input
                        label(for="build-2").b-search-filter__label ЖК 2
                    .b-search-filter__build
                        input(id="build-3" type="checkbox" name="project[3]" disabled).b-search-filter__input
                        label(for="build-3").b-search-filter__label ЖК 3

            .b-search-filter__floors
                .b-search-filter__ttl Комнатность
                .b-search-filter__floors-cnt
                    .b-search-filter__floor.b-form__checkbox
                        input(id="floor-1" type="checkbox" name="floors[1]")
                        label(for="floor-1") Однокомнатная
                    .b-search-filter__floor.b-form__checkbox
                        input(id="floor-2" type="checkbox" name="floors[2]")
                        label(for="floor-2") Двухкомнатная
                    .b-search-filter__floor.b-form__checkbox
                        input(id="floor-3" type="checkbox" name="floors[3]" disabled)
                        label(for="floor-3") Трехкомнатная

            .b-search-filter__sub
                .b-search-filter__ttl Особенности
                .b-search-filter__sub-cnt
                    .b-search-filter__sub-item
                        input(id="sub-1" type="checkbox" name="sub[1]").b-search-filter__input
                        label(for="sub-1").b-search-filter__sub-label с балконом
                    .b-search-filter__sub-item
                        input(id="sub-2" type="checkbox" name="sub[2]").b-search-filter__input
                        label(for="sub-2").b-search-filter__sub-label с кухней
                    .b-search-filter__sub-item
                        input(id="sub-3" type="checkbox" name="sub[3]" disabled).b-search-filter__input
                        label(for="sub-3").b-search-filter__sub-label раздельный санузел


            .b-search-filter__prices
                .b-search-filter__ttl Стоимость, руб.
                .b-search-filter__fields
                    .b-search-filter__price
                        input(
                            type="text"
                            name="price[min]"
                            data-min="100000"
                            data-max="10000000"
                            value="1000000"
                            pattern="[0-9]*")
                    .b-search-filter__price
                        input(
                            type="text"
                            name="price[max]"
                            data-min="100000"
                            data-max="10000000"
                            value="10000000"
                            pattern="[0-9]*")

            .b-search-filter__areas
                .b-search-filter__ttl Жилая площадь, м<sup>2</sup>
                .b-search-filter__fields
                    .b-search-filter__area
                        input(
                        type="text"
                        name="area[min]"
                        data-min="1"
                        data-max="10"
                        value="5"
                        pattern="[0-9]*")
                    .b-search-filter__area
                        input(
                        type="text"
                        name="area[max]"
                        data-min="1"
                        data-max="10"
                        value="10"
                        pattern="[0-9]*")

            .b-search-filter__submit
                button(type="submit").b-search-filter__submit-btn.b-btn Показать 200 вариантов

    include ../../blocks/_ajax-loader
