.l-banks {
    @include padding-leader(1);

    @media #{$medium-up} {
        @include padding-leader(2);
        @include padding-trailer(1); //из-за того что .l-banks__item имеет отступ снизу
    }
}

.l-banks__wrap {
    @extend %l-row;
    @include margin-trailer(0);
    display: flex;
    flex-flow: column wrap;
    padding: {
        left: gutter(1);
        right: gutter(1);
    }

    @media #{$medium-up} {
        flex-direction: row;
    }
}

.l-banks__item {
    @include margin-trailer(1);
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;

    @media #{$medium-up} {
        flex: 0 0 calc(50% - 10px);
    }

    &:nth-child(2n+2) {
        margin-right: 0;
    }
}
