.l-mortgage {
    @extend %l-row;
}

.l-mortgage__range-slider {
    @include span(6);
    @include margin-trailer(2);
}

.l-mortgage__banks-item {
    @include gallery(12);

    @media #{$medium-up} {
        @include gallery(6);
    }
}
