<div class="b-tabs j-tabs">
    <div class="b-tabs__triggers">
        <a href="javascript:;" data-tab="tab-1" class="b-tabs__item is-active">Таб 1</a>
        <a href="javascript:;" data-tab="tab-second" class="b-tabs__item">Таб 2</a>
        <a href="javascript:;" data-tab="tab-третий" class="b-tabs__item is-disabled">Таб 3</a>
        <a href="javascript:;" data-tab="tab-4" class="b-tabs__item">Таб 4</a>
    </div>
    <ul class="b-tabs__contents">
        <div data-tab-content="tab-1" class="b-tabs__content is-active">111111111111</div>
        <div data-tab-content="tab-second" class="b-tabs__content">222222222222</div>
        <div data-tab-content="tab-третий" class="b-tabs__content">333333333333</div>
        <div data-tab-content="tab-4" class="b-tabs__content">444444444444</div>
    </ul>
</div>