// LAYOUT
@import '../../layout/module/construction-progress';

// MODULE
$construction-progress-title-position: left;

.b-construction-progress__ttl {
    @include span(full);
    text-align: $construction-progress-title-position;

    @media #{$medium-up} {
        @include margin-trailer(1);
    }
}

.b-construction-progress__row {
    @include grid-clearfix();
    @include margin-trailer(2);
}

.b-construction-progress__selects {
    @include span(full);

    @media #{$medium-up} {
        @include span(8);
    }
}

.b-construction-progress__select {
    @include span(full);
    @include margin-trailer(1);
    padding: 0;

    @media #{$medium-up} {
        @include span(4 of 8);
        @include margin-trailer(0);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.b-construction-progress__progress {
    @include span(full);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 48px;

    @media #{$medium-up} {
        @include span(4);
    }
}


.b-construction-progress__gallery {
    @include span(full);
    @include margin-trailer(2);
}

.b-construction-progress__content {
    @include span(full);
}

//STATE
@import '../../state/construction-progress/construction-progress';
