$popup-btn-height: (btn-vertical-paddings($popop-btn-mobile-height) * 2) + $popup-btn-mobile-line-height;
// Fullsize popup
.b-popup_full_size {

    .mfp-inline-holder .mfp-content,
    .mfp-ajax-holder .mfp-content {
        max-width: none;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .b-popup {
        min-height: 100%;
    }
}

// Animation hide/show
.b-popup_theme_toggle {
    &.mfp-bg {
        transition-property: opacity;
        transition-timing-function: $gl-trs-function;
        opacity: 0;

        &.mfp-ready {
            opacity: $popup-overlay-opacity;
        }

        &.mfp-removing {
            opacity: 0;
        }
    }

    &.mfp-wrap {
        transition-property: opacity;
        transition-timing-function: $gl-trs-function;
        opacity: 0;

        &.mfp-ready {
            opacity: 1;
        }

        &.mfp-removing {
            opacity: 0;
        }
    }
}

.b-popup_theme_map {
    .b-popup__cnt {
        padding: 0;
    }

    .b-map__base {
        height: calc(100vh - #{$popup-btn-height});
    }
}
