$nav-cnt-bg-color: #92c022;

.al-l-wrapper {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 1000px;
    min-height: 600px;

    @media (min-width: 1023px) {
        display: block;
    }

    &:after {
        background: repeating-linear-gradient(rgba($black, 0), rgba($black, .5));
        position: fixed;
        z-index: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
        content: '';
        pointer-events: none;
    }
}

.al-l-substrate {
    position: relative;
    overflow: hidden;
    min-height: 600px;
}

.al-l-content {
    animation-duration: .5s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.al-l-content_is_active {
    z-index: 0;
}

.mfp-content {
    .al-l-filter {
        display: block;
    }
}

.l-error {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 2;
}
