.al-b-tooltip_theme_flat {
    color: $black;
    min-width: 320px;

    .al-b-tooltip__rooms {
        @include text-transform();
        font-family: $font;
        font-weight: 700;
        font-size: 12px;
        line-height: 30px;
    }

    .al-b-tooltip__title {
        font-size: 26px;
        line-height: 30px;
    }

    .al-b-tooltip__floors {
        margin-bottom: 20px;
        color: $gray;
        font-size: 16px;
        line-height: 30px;
    }

    .b-param-list {
        color: $black;
    }

    .b-param-list__data {
        width: 35%;
    }
}
