// LAYOUT
@import '../layout/module/back-link';

// MODULE
.al-b-back-link {
    @include text-transform();
    font-size: 12px;
    line-height: 36px;
    font-family: $font;
    font-weight: 700;
    color: $white;
    text-decoration: none;
    display: block;
    padding: {
        left: 25px;
        right: 10px;
    };

    &:after {
        $image: 'al-b-back-link';
        @include sprite($image);
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 0;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}


.b-back-link_color_dark {
    color: $black;

    &:after {
        @include sprite('al-b-back-link-dark');
    }
}
