// LAYOUT
@import '../layout/module/dropdown';

// MODULE
$drpdown-green: #92c022;

.b-dropdown {
    font-size: 18px;
    line-height: 24px;
    font-family: $font;
    font-weight: 700;
    position: relative;

    &.is-active {
        .b-dropdown__active-floor {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .b-dropdown__list-floor {
            display: block;
        }
    }
}

.b-dropdown__active-floor {
    font-size: 18px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid $drpdown-green;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 2px;
    background-color: $white;
    position: relative;
    z-index: 2;
    display: block;
    color: $black;
    text-decoration: none;

    &:after {
        $image: 'al-b-dropdown';
        @include sprite($image);
        position: absolute;
        top: 50%;
        margin-top: -(sprite-height($image) / 2);
        right: 13px;
        content: '';
    }
}


.b-dropdown__list-floor {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    display: none;
}

.b-dropdown__list {
    background-color: $white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid $drpdown-green;
    height: 244px;
    padding: gutter(1) gutter(2);

    display: flex;
    flex-flow: column wrap;
    min-width: 160px;
}

.b-dropdown__item {
    margin-right: gutter(3);
    flex: 0 0 auto;
}

.b-dropdown__link {
    font-size: 18px;
    line-height: 24px;
    color: $black;

    &.is-active {
        color: $drpdown-green;
    }

    &.is-disabled {
        color: $gray;
    }
}
