// LAYOUT
@import '../layout/module/floor';

// MODULE
.al-b-floor {
    text-align: center;
    height: 120px;
}

.al-b-floor__cnt {
    $size: rhythm(3);
    border-radius: 50%;
    background-color: $controls-color;
    width: $size;
    height: $size;
}

.al-b-floor__num {
    @include padding-leader(.4);
    font-size: 30px;
    line-height: $base-vertical-rhythm;
}

.al-b-floor__txt {
    font-size: 20px;
    line-height: $base-vertical-rhythm;
}

.al-b-floor__up {
    $image: 'al-b-floor__up';
    @include sprite($image);
    display: inline-block;
}

.al-b-floor__down {
    $image: 'al-b-floor__down';
    @include sprite($image);
    display: inline-block;
}
