.al-b-pano {
    position: absolute;
    z-index: 6;
    width: 40px;
    height: 40px;
    background-image: url('/img/eye.png');
    background-size: 40px 40px;
    outline: none;
}

.mfp-iframe-holder {
    overflow: hidden;

    .mfp-content {
        max-width: inherit;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 0;
        margin: auto;
    }

    .mfp-close {
        font-size: 40px;
        top: 0;
        right: 10px;
        width: 24px;
        padding: 0;
    }
}

