$pointer-border-radius: 3px 3px 3px 0;
$pointer-background-color: $white;
$pointer-paddings: 20px 20px;
$pointer-text-align: left;
$pointer-color: $black;
$pointer-arrow: 'al-b-pointer-arrow';

.al-b-pointer {
    padding: $pointer-paddings;
    background-color: $pointer-background-color;
    text-align: $pointer-text-align;
    color: $pointer-color;
    border-radius: $pointer-border-radius;
    position: absolute;
    z-index: 10;
    box-shadow: 25px 25px 20px rgba($black, .2);
    cursor: pointer;
}

.al-b-pointer__num {
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: $font;
    font-weight: 700;
}

.al-b-pointer__txt {
    font-size: 26px;
    line-height: 30px;
    font-family: $font;
}

// Arrow
.al-b-pointer:after {
    @include sprite($pointer-arrow);
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
}
