// LAYOUT
@import '../layout/module/select-options';

// MODULE
$select-options-bg-color: #92c022;

.al-b-select-options {
    height: 50px;
    background-color: $select-options-bg-color;
    display: block;
    animation-duration: .5s;
    padding-left: 65px;
    padding-right: 27px;
    border-radius: 24px;
    padding-top: 17px;
    color: $white;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;

    &:hover {
        background-color: lighten($select-options-bg-color, 5%);
        color: $white;
    }

    &:after {
        $image: 'al-b-select-options';
        @include sprite($image);
        content: '';
        position: absolute;
        top: 50%;
        margin-top: - (sprite-height($image) / 2);
        left: 33px;
    }
}

.al-b-select-options__txt {
    @include text-transform();
    font-family: $font;
    font-weight: 700;
}
