.b-video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
}

.b-video #video_html5_api {
    width: 100% !important;
    height: 100% !important;
}

.b-video .vjs-control-bar {
    display: none;
}
