@import 'app';

// DOC
//base
@import 'doc/base/global';
//layout
@import 'doc/layout';
//module
@import 'doc/nav';
@import 'doc/table';
@import 'doc/pages/layout';
@import 'doc/releases';


pre {
    @include margin-trailer(1);
    font-size: 14px;
    line-height: $base-line-height;
    padding: rhythm(1);
    border: 1px solid rgba(#9e9e9e, .5);
    width: 100%;
    border-radius: 3px;
    background-color: rgba(#9e9e9e, .1);
    color: $black;
}

code {
    font-size: 14px;
    line-height: $base-line-height;
    border: 1px solid rgba(#9e9e9e, .5);
    border-radius: 3px;
    background-color: rgba(#9e9e9e, .1);
    color: $black;
    padding: 0 gutter();
    white-space: nowrap;
}

.doc-ajax-loader {
    position: relative;
    height: 200px;
    .b-ajax-loader {
        display: block;
        top: 0;
        position: absolute;
    }
}

.is-close-submenu {
    display: none;
}

.b-icon__doc {
    &:nth-of-type(1) {
        fill: red;
    }

    &:nth-of-type(2) {
        fill: orange;
        width: 300px;
        height: 300px;
    }

    &:nth-of-type(3) {
        width: 50px;
        height: 50px;
        fill: yellow;
    }

    &:nth-of-type(4) {
        transform: rotate(270deg);
        fill: green;
    }

    &:nth-of-type(5) {
        transform: rotate(290deg);
        fill: skyblue;
    }

    &:nth-of-type(6) {
        transform: rotate(310deg);
        fill: blue;
    }

    &:nth-of-type(7) {
        transform: rotate(330deg);
        fill: #860F89;
    }
}

ul,
ol {
    @include margin-trailer(1);
}
