.b-gallery.j-gallery
    .b-gallery__base(
        data-width="100%"
        data-arrows="false"
        data-nav="thumbs"
        data-loop="false"
        data-keyboard="true"
        data-thumbwidth="120px"
        data-fit="contain"
    )
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
        a(href="http://placehold.it/960x450" data-thumb="http://placehold.it/90x60")
    a(href="#gallery-popup" class="b-gallery__increase") Увеличить
    a(href="javascript:;").j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
    a(href="javascript:;").j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд

