.b-range-slider.j-range-sliders(data-noinit="true")
    .b-range-slider__base
        .j-slider(
            data-min="1000000"
            data-max="10000000"
            data-from="3000000"
            data-to="8000000"
            data-postfix=" руб."
        )
    .b-range-slider__input
        input(type="text")
    .b-range-slider__input
        input(type="text")
