.l-flat
    .b-flat
        .b-flat__right
            .b-flat__check-another-room
                //умная кнопка возвращает на параметрический или визуальный выборщик
                a(href="#").b-flat__link Выбрать другую квартиру
                a(href="/html/blocks/flat-card/pdf.html").b-flat__print
                    i.b-icons.b-icons_image_print
                    span Распечатать
            .b-flat__right-img
                img(src="/img/flat/3.jpg" alt="Планировка квартиры")

        .b-flat__left
            h1 2-комнатная квартира
            .b-flat__row
                ul.b-param-list
                    li.b-param-list__item
                        .b-param-list__name Общая площадь
                        .b-flat-popup__dots
                        .b-param-list__data 19 м<sup>2</sup>
                    li.b-param-list__item
                        .b-param-list__name Жилая площадь
                        .b-flat-popup__dots
                        .b-param-list__data 36 м<sup>2</sup>
                    li.b-param-list__item
                        .b-param-list__name Кухня
                        .b-flat-popup__dots
                        .b-param-list__data 8 м<sup>2</sup>
                    li.b-param-list__item
                        .b-param-list__name Балкон
                        .b-flat-popup__dots
                        .b-param-list__data есть
            .b-flat__row
                .b-flat__key Стоимость при 100% оплате
                .b-flat__val 1 785 500 <span class="b-ruble">o</span>
                .b-flat__btn
                    a(href="#flat" data-theme="max-width-none").j-popup.b-btn.b-btn_width_auto Хочу эту квартиру
            .b-flat__row
                .b-flat__col
                    .b-flat__img-wrap
                        img(src="/img/flat/1.jpg" alt="Планировка района")
                    ul.b-flat__param-list.b-param-list
                        li.b-param-list__item
                            .b-param-list__name Корпус
                            .b-param-list__data 6

                .b-flat__col
                    .b-flat__img-wrap
                        img(src="/img/flat/2.jpg" alt="Планировка дома")
                    ul.b-flat__param-list.b-param-list
                        li.b-param-list__item
                            .b-param-list__name Этаж
                            .b-param-list__data 2/3

include _popup-flat
