#flat.mfp-hide.b-popup
    a(href="javascript:;" title="Закрыть").b-popup__close Закрыть попап
    .b-popup__cnt
        .b-popup__ttl
            h2 Расскажем подробности
        .b-popup__flat
            .b-flat-card
                .b-flat-card__header
                    .b-flat-card__descr
                        .b-flat-card__floors 1-комнатная
                        a(href="/html/flats.html").b-flat-card__ttl Квартира №#{i}
                        .b-flat-card__caption Корпус 6, этаж 3, окна во двор, с балконом, дом сдан
                    .b-flat-card__img-wrap
                        a(href="/html/flats.html")
                            img(src="/img/search-result/search-item__img-1.jpg" alt="Уменьшенная планировка квартиры")
                .b-flat-card__param
                    ul.b-param-list
                        li.b-param-list__item
                            .b-param-list__name Общая площадь
                            .b-flat-popup__dots
                            .b-param-list__data 8#{i},19 м<sup>2</sup>
                        li.b-param-list__item
                            .b-param-list__name Жилая площадь
                            .b-flat-popup__dots
                            .b-param-list__data 5#{i},36 м<sup>2</sup>
                        li.b-param-list__item
                            .b-param-list__name Стоимость
                            .b-flat-popup__dots
                            .b-param-list__data #{i} 210 000 <span class="b-ruble">a</span>

        .b-popup__form
            form(action='/test/ajax/request.php' data-message="Спасибо, что воспользовались данной услугой. Наш менеджер перезвонить в удобное для вас время.")

                h3.b-popup__desc Мы перезвоним и расскажем всё о квартире, комплексе и условиях покупки. По будним дням в рабочее время
                .b-callback
                    .b-callback__row
                        label(for="callback-1").b-callback__lbl Как вас зовут
                        input(
                            id="callback-1"
                            type="text"
                            name="name"
                            autocomplete="name"
                            placeholder="ФИО"
                            required)
                    .b-callback__row
                        label(for="callback-2").b-callback__lbl Телефон
                        input(
                            id="callback-2"
                            type="tel"
                            name="phone"
                            autocomplete="tel"
                            placeholder="Телефон"
                            required)
                    .b-callback__row
                        .b-callback__btn
                            input(type="submit" value="Расскажите мне").b-btn
