.b-flat-card
    .b-flat-card__header
        .b-flat-card__descr
            .b-flat-card__floors 1-комнатная
            a(href="/html/flats.html").b-flat-card__ttl Квартира №10
            .b-flat-card__caption Корпус 6, этаж 3, окна во двор, с балконом, дом сдан
        .b-flat-card__img-wrap
            a(href="/html/flats.html")
                img(src="/img/search-result/search-item__img.jpg" alt="Уменьшенная планировка квартиры")
    .b-flat-card__param
        ul.b-param-list
            li.b-param-list__item
                .b-param-list__name Общая площадь
                .b-flat-popup__dots
                .b-param-list__data 8#{i},19 м<sup>2</sup>
            li.b-param-list__item
                .b-param-list__name Жилая площадь
                .b-flat-popup__dots
                .b-param-list__data 5#{i},36 м<sup>2</sup>
            li.b-param-list__item
                .b-param-list__name Стоимость
                .b-flat-popup__dots
                .b-param-list__data #{i} 210 000 <span class="b-ruble">a</span>
