doctype html
html(lang='ru' style="background-color:#ffffff;")
    head
        meta(charset="UTF-8")
        //- meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        block title
            title PDF

    body(style="background-color:#ffffff;")
        div(style="border-bottom: 1px solid #ccc; padding: 20px 0;")
            table(width="100%")
                tr
                    td
                        img(src="/img/pdf/logo.jpg" alt="Parktow")
                    td
                        b(style="text-transform: uppercase; color: #ccc; font-size: 12px") ЭТА КВАРТИРА НА САЙТЕ
                        br
                        a(href="http://parktown.ru/search_result/dvuhkomnatnye/flat_21" style="color: #000000") parktown.ru/search_result/dvuhkomnatnye/flat_21
                    td(style="text-align: right")
                        a(href="tel: +7-4842-27-77-72" style="color: #000; text-decoration: none; font-size: 20px")
                            b
                                span(style="color: #ccc") +7 (4842)
                                span 27-77-72
                            br
                            a(href="parktown.com" style="font-size: 20px; color: #000000") parktown.com

        table
            tr
                td(style="width: 460px")
                    h1 2-комнатная квартира №21
                td
                    b(style="color: #ccc; text-transform: uppercase; font-size: 12px") общая площадь, м<sup>2<sup>
                    br
                    span(style="font-size: 30px") 40,02
                td
                    b(style="color: #ccc; text-transform: uppercase; font-size: 12px") Жилая, м<sup>2<sup>
                    br
                    span(style="font-size: 30px") 29,15
                td
                    b(style="color: #ccc; text-transform: uppercase; font-size: 12px") Кухня, м<sup>2<sup>
                    br
                    span(style="font-size: 30px") 11,1
                td
                    b(style="color: #ccc; text-transform: uppercase; font-size: 12px") Стоиость при 100% оплате
                    br
                    span(style="font-size: 30px") 1 785 500 рублей
            tr
                td(style="width: 460px" valign="top")
                    b(style="font-size: 25px; line-height: 40px;") Центральный офис продаж
                    br
                    span Калуга, ул. Кирова 19, ТРЦ &laquo;РИО&raquo; 4 этаж
                    br
                    span Каждый день с 10:00 до 22:00
                    br
                    br

                    b(style="font-size: 25px; line-height: 40px;") Офис продаж на объекте
                    br
                    span Калужская область, Ферзиковский район,<br> д. Ястебовка
                    br
                    span Каждый день с 10:00 до 19:00
                td(colspan="2")
                    img(src="/img/pdf/plan-1.jpg" alt="Планировка" style="max-width: 100%")
                td(colspan="2")
                    img(src="/img/pdf/plan-2.jpg" alt="Планировка 3D" style="max-width: 100%")
            tr
                td(style="width: 460px")
                    img(src="/img/pdf/qr-code.jpg" alt="Короткая ссылка" style="float: left")
                    div(style="width: 200px; float: left; padding-top: 20px").
                        ОТСКАНИРУЙТЕ <br> ЭТОТ QR-CODE<br>
                        с помощью мобильного приложения &laquo;PLANOPLAN GO!&raquo;
                        и совершите виртуальную экскурсию по квартире.
                        Приложение доступно в Google Play и App Store
                td(colspan="2") &nbsp;
                td
                    ul(style="list-style-type: none; margin-bottom: 40px;")
                        li
                            img(src="/img/pdf/plan-3.jpg" alt="Планировка квартала")
                        li
                            | Корпус 6
                td
                    ul(style="list-style-type: none; margin-bottom: 40px;")
                        li
                            img(src="/img/pdf/plan-4.jpg" alt="Планировка этажа")
                        li
                            | Этаж 2/3
