include ../mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        link(rel='stylesheet' href="/scripts/lib/magnific-popup/dist/magnific-popup.css")
        link(rel='stylesheet' href="/scripts/lib/fotorama/fotorama.css")
        link(rel='stylesheet' href="/scripts/lib/slick-carousel/slick/slick.css")
        link(rel='stylesheet' href="/scripts/lib/slick-carousel/slick/slick-theme.css")
        link(rel='stylesheet' href="/scripts/lib/jquery-selectric/public/selectric.css")
        link(rel='stylesheet' href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.css")
        link(rel='stylesheet' href="/scripts/lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css")
        link(rel='stylesheet' href="/styles/doc.css")
        block title
            title Заголовок по умолчанию
    body
        .l-nav
            include ../blocks/_kelnik
            include _nav

        .l-main
            block content
        script(src="/scripts/doc.js")
        script(src="/scripts/lib/requirejs/require.min.js" data-main="/scripts/config.js")
