nav#nav-doc.b-nav-doc
    ul.b-nav-doc__list
        li.b-nav-doc__item
            span.b-nav-doc__link Примитивы
            ul.b-nav-doc__sublist.is-close-submenu
                li.b-nav-doc__subitem
                    a(href="/html/doc/popup.html").b-nav-doc__sublink Попап
                li.b-nav-doc__subitem
                    a(href="/html/doc/gallery.html").b-nav-doc__sublink Галерея
                li.b-nav-doc__subitem
                    a(href="/html/doc/tabs.html").b-nav-doc__sublink Табы
                li.b-nav-doc__subitem
                    a(href="/html/doc/map.html").b-nav-doc__sublink Карта
                li.b-nav-doc__subitem
                    span.b-nav-doc__sublink Формы
                    ul.b-nav-doc__sublist.is-close-submenu
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-text-fields").b-nav-doc__sublink Текстовые поля
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-label").b-nav-doc__sublink Лейблы
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-animated-label").b-nav-doc__sublink Анимированный label
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-checkbox").b-nav-doc__sublink Чекбоксы
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-radio-buttons").b-nav-doc__sublink Радио кнопки
                        li.b-nav-doc__subitem
                            a(href="/html/doc/forms.html#forms-select").b-nav-doc__sublink Селект
                li.b-nav-doc__subitem
                    span.b-nav-doc__sublink Навигация
                    ul.b-nav-doc__sublist.is-close-submenu
                        li.b-nav-doc__subitem
                            a(href="/html/doc/nav.html#nav-signle").b-nav-doc__sublink Одноуровневая
                        li.b-nav-doc__subitem
                            a(href="/html/doc/nav.html#nav-multi").b-nav-doc__sublink Многоуровневая
