extends _layout
block title
    title Карточка банка
block content
    h1 Карточка банка

    h2 Добавление на страницу
    h3 JADE
    pre
        | include blocks/_banks

    h2 Параметры - блока
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $bank-border-size
                td Ширина бордера у блока и внутренних "перегородок"
                td number
                td px
                td 1px
            tr
                td $bank-border-color
                td Цвет бордера у блока и внутренних "перегородок"
                td string
                td color
                td $gray

    h2 Параметры - ссылки "условия банка"
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $bank-link-color
                td Цвет ссылки
                td string
                td color
                td $gray
            tr
                td $bank-link-font-family
                td Шрифт ссылки
                td string
                td -
                td $font
            tr
                td $bank-link-font-size
                td Размер шрифта
                td number
                td px
                td 14px

    h2 Параметры - подпись имя
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $bank-key-color
                td Цвет
                td string
                td color
                td $gray
            tr
                td $bank-key-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $bank-key-font-size
                td Размер шрифта
                td number
                td px
                td 10px
            tr
                td $bank-key-line-height
                td Межстрочный интервал
                td number
                td px
                td 14px
            tr
                td $bank-key-text-transform
                td Управляет преобразованием текста элемента в заглавные или прописные символы
                td bool
                td false | true
                td true

    h2 Параметры - подпись значение
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $bank-val-color
                td Цвет
                td string
                td color
                td $black
            tr
                td $bank-val-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $bank-val-font-size
                td Размер
                td number
                td px
                td 28px
            tr
                td $bank-val-text-transform
                td Управляет преобразованием текста элемента в заглавные или прописные символы
                td bool
                td false | true
                td false

    h2 Модификаторы
    table
        thead
            tr
                th Имя
                th Описание
        tbody
            tr
                td b-bank_is_disabled
                td Иногда банки фильтруются, и, когда банк не подходит по фильтру, на него навешивается этот модификатор.
    small модификатор добавляется к <code>.b-bank</code>

    h2 Вживую
    include ../blocks/_banks
