extends _layout
block title
    title Заказать обратный звонок
block content
    h1 Форма обратного звонка
    h2 Описание
    p Блок состоит из
    .b-typo-reset
        ul
            li
                a(href="/html/doc/popup.html") Попапа
            li
                a(href="/html/doc/forms.html#forms-text-fields") Инпутов
            li
                a(href="/html/doc/forms.html#forms-label") и леблов
    p
        | Для правильной валидации и работы телефонного поля
        | обязателен паттерн вида: pattern=&laquo;^[0-9-()+\\s]+$&raquo;
    h2 Вживую
    a(href="#callback").j-popup Заказать обратный звонок

    include ../blocks/_callback
