extends _layout
block title
    title Документирование кода
block content
    h1 Документирование кода (1.0)
    p.
        Оказывается можно писать такой код, который спустя время вы поймёте и
        сможете поддерживать. Глядя в метод/функцию/переменную вы поймёте, что она делает.


    h2 Модульность
    p.
        Если вы чуствуете, что ваш код может разрастись, допустим, это какая-то
        галерея или фильтр. То скорее всего эту часть кода надо вынести в отдельный файл
        gallery.js или filter.js. По названию файла вы сразу поймёте о чём он.
    pre
        | &lt;script src="gallery.js"&gt;&lt;/script&gt;
        | &lt;script src="filter.js"&gt;&lt;/script&gt;

    h2 Замена переменных функцией
    p.
        Выводите сложные переменные в функцию.
        Функции принято создавать, когда код будет точно повторяться.
        Здесь стоит руководстоваться тем же принципом. Если вы не уверены,
        что эта функция будет повторяться то смотрите следщий пункт.
    pre
        | var x = e.pageX - ($tooltip.width() / 2);
    p Лучше вывести в функцию
    pre
        | function positionTooltip($el) { ... }
        | var x = positionTooltip($tooltip);


    h2 Замена условного кода переменной
    p.
        Сложным условным конструкциям лучше всего дать комментарий(описание) и
        вынести в переменную
    pre
        | if ($(window).width() < 670 && Modernizr.touch()) { ... }
    p Лучше вынести в переменную
    pre
        | // Выполняем только на мобильном устройстве
        | var <b>isMobile</b> = $(window).width() < 670 && Modernizr.touch();
        | if (isMobile) { ... }
    p.
        Строк получилось больше, но стало более понятно, что делает код.
        Это понятно уже по названию переменной.


    h2 Комментарии
    p.
        Страйтесь писать <a href="https://ru.wikipedia.org/wiki/JSDoc" target="_blank"> JSDoc </a>
        для методов объектов.
    pre
        | /**
        | * Обработка клика по стрелкам
        | * @param {Object} arrow - jquery-object по какой стрелке происходит клик
        | */
        | Gallery.prototype.bindArrowClick = function(arrow) { ... }


    p Пишите комментрии ко всему непонятному
    pre
        | // Выполняем только на мобильном устройстве
        | var isMobile = $(window).width() < 670 && Modernizr.touch();


    p Вы даже можете дополнить простые перменные
    pre
        | // Обёртка селекта
        | this.$wrapSelects = $wrap.find('.b-construction-progress__select');
        | // Все селекты блока
        | this.$selects = $wrap.find('select');
        | // Контентная часть блока
        | this.$content = $wrap.find('.b-construction-progress__content');


    h2 Именование
    blockquote Есть только две действительно сложные вещи: инвалидация кэша и именование сущностей
        cite Фил Карлтон
    br
    p Как минимум старайтесь называть функции глаголами и то что делает функция
    pre
        | function initMarkers() { ... }
    p Используйте хелперы - <code>set, get, write, read, send</code>
    pre
        | function <b>set</b>Width() { ... }


    h2 Венгераская нотация
    p jQuery объекты именуйте через $
    p Числа, строки, DOM-элементы не надо именовать с помоью $
    p Не правильно
    pre
        | var element = $('element');
        | var child = element.find('.child);
    p Правильно
    pre
        | var <b>$</b>element = $('element');
        | var <b>$</b>child = <b>$</b>element.find('.child);

    h2 Избегайте сложные синтаксические конструкции
    p Старайтесь использовать их реже
    p Вот причина
    pre
        | imTricky && doMagic();
    p гораздо понятнее
    pre
        | if (imTricky) {
        |   doMagic();
        | }

    h2 Избегайте булевые параметры
    p Плохо
    pre
        | setWidth(w, h, <b>true</b>)
    p.
        что делает третий параметр true, совершенно не понятно. Скорее всего вам
        понадобится логику true вынести в новую функцию
    pre
        | setWidth(w, h)
        | isOverlay()
