extends _layout
block title
    title Карточка квартиры
block content
    h1 Карточка квартиры
    h2 Вживую

    include ../blocks/flat-card/_flats-header

    .l-flat
        h2.l-flat__title Ипотека
        include ../blocks/_mortgage

    .l-flat
        h2.l-flat__title Похожие квартиры
        .l-flat__cnt
            .l-flat__item
                include ../blocks/flat-card/_similar-apartments
            .l-flat__item
                include ../blocks/flat-card/_similar-apartments
            .l-flat__item
                include ../blocks/flat-card/_similar-apartments

