extends _layout
block title
    title Формы
block content
    h1 Формы

    h2#forms-text-fields Текстовые поля

    h3 Использование
    p.
        Стили применяются к стандартным текстовым инпутам.
        Посмотреть можно в <code>block/_inputs.jade</code>

    h4 jade
    pre
        |   input(type="text")
        |   input(type="password")
        |   input(type="tel")
        |   input(type="email")
        |   input(type="search")
        |   input(type="url")

    h3 Параметры текстовых полей
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $input-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $input-bg-color
                td Цвет фона
                td color
                td -
                td $white
            tr
                td $input-bd-width
                td Размер бордера
                td number
                td px
                td 1px
            tr
                td $input-bd-color
                td Цвет бордера
                td color
                td -
                td $black
            tr
                td $input-border-radius
                td Радиус скругления
                td number
                td px
                td 0
            tr#input-font-size
                td $input-font-size
                td Размер текста
                td number
                td px
                td 16px
            tr
                td $input-font-family
                td Шрифт
                td string
                td -
                td $font
            tr
                td $input-height
                td Высота кнопки
                td number
                td rhythm
                td 2
            tr
                td $textarea-min-height
                td Минимальная высота <code>textarea</code>
                td number
                td rhythm
                td 5
    h3 Дополнительные параметры - focus
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $input-bd-color-focus
                td Цвет бордера
                td color
                td -
                td #ffa500
    h3 Дополнительные параметры - placeholder
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
            tr
                td $input-placeholder-color
                td Цвет подсказки
                td color
                td -
                td #ccc
            tr
                td $input-placeholder-font-style
                td Начертание шрифта
                td string
                td normal | italic | oblique | inherit
                td italic
            tr
                td $input-placeholder-font-size
                td Размер шрифта
                td number
                td px
                td $h5
            tr
                td $input-placeholder-opacity
                td Прозрачность текста
                td number
                td 0.1
                td 1

    h3 Вживую
    include ../blocks/_inputs

     br
     hr
     br

    h2#forms-label Лейблы
    p Стили применяются к стандартному <code>&lt;label&gt;</code>

    h3 Пример
    pre
        | &lt;label for="input-1"&gt;Лейбл&lt;label&gt;
        | &lt;input type=""text" id="input-1"&gt;

    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $label-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $label-font-size
                td Размер текста
                td number
                td px
                td 16px
            tr
                td $label-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $label-margin-bottom
                td Отступ снизу
                td number
                td px|rhythm
                td rhythm(.25)

    h3 Вживую
    include ../blocks/_label

    br
    br
    br
    hr
    br

    h2#forms-animated-label Анимированный label

    h3 JADE
    h4 Миксин
    pre
        | +anim-label('name', 'type', required)
    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td name
                td Текст в label
                td string
                td -
                td -
            tr
                td type
                td Тип поля
                td string
                td -
                td text
            tr
                td required
                td Тип поля
                td bool
                td true|false
                td false

    h2 SASS
    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $anim-label-font-size
                td Размер текста
                td number
                td px
                td
                    a(href="/html/doc/forms.html#input-font-size") $input-font-size
            tr
                td $anim-label-font-size-focus
                td Размер текста при фокусе поля
                td number
                td px
                td 10px
            tr
                td $anim-label-tt-up
                td Преобразование текста в прописные или заглавные
                td bool
                td false/true
                td false
            tr
                td $anim-label-tt-up-focus
                td Преобразование текста в прописные или заглавные при фокусе поля
                td bool
                td false/true
                td true
            tr
                td $anim-label-color
                td Цвет текста лэйбла
                td color
                td -
                td inherit
            tr
                td $anim-label-color-focus
                td Цвет текста лэйбла при фокусе поля
                td color
                td -
                td inherit


    h3 Вживую
    include ../blocks/_input-anim-label
    include ../blocks/_input-anim-label

    br
    hr
    br

    h2#forms-checkbox Чекбоксы

    h3 Описание
    p Структуру можно в <code>block/_checkbox.jade</code>


    h4 JADE
    pre
        |   .b-form__checkbox
        |       input(id="ch1" type="checkbox")
        |       label(for="ch1") Здесь может быть текст
    p В лейбле учтена многострочность.

    h3 Параметры чекбоксов
    p.
        У чекбокса четыре состояния. Все картинки нужно положить в папку
        /sprites/1x, а в папку /sprites/2x их увеличенные в два раза версии.
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th Название файла
        tbody
            tr
                td $checkbox
                td Невыбранный <code>checkbox</code>
                td string
                td -
                td checkbox.png
            tr
                td $checkbox-checked
                td Выбранный <code>checkbox</code>
                td string
                td -
                td checkbox-checked.png
            tr
                td $checkbox-hover
                td Наведённый <code>checkbox</code>
                td string
                td -
                td checkbox-hover.png
            tr
                td $checkbox-disabled
                td Выключенный <code>checkbox</code>
                td string
                td -
                td checkbox-disabled.png

    h3 Вживую
    include ../blocks/_checkbox

    br
    hr
    br

    h2#forms-radio-buttons Радио кнопки

    h3 Описание

    p Посмотреть можно в <code>block/_radio.jade</code>

    h4 JADE
    pre
        |   .b-form__checkbox
        |       input(id="ch1" type="radio")
        |       label(for="ch1") Здесь может быть текст
    p В лейбле учтена многострочность.

    h3 Параметры радио кнопок
    p.
        У радио кнопок четыре состояния. Все картинки нужно положить в папку
        /sprites/1x, а в папку /sprites/2x их увеличенные в два раза версии.
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th Название файла
        tbody
            tr
                td $radio
                td Невыбранный <code>radio</code>
                td string
                td -
                td radio.png
            tr
                td $radio-checked
                td Выбранный <code>radio</code>
                td string
                td -
                td radio-checked.png
            tr
                td $radio-hover
                td Наведённый <code>radio</code>
                td string
                td -
                td radio-hover.png
            tr
                td $radio-disabled
                td Выключенный <code>radio</code>
                td string
                td -
                td radio-disabled.png

    h3 Вживую
    include ../blocks/_radio


    br
    hr
    br

    .doc-page-select
        h2#forms-select Селект

        h3 Использование
        p Для работы используется библиотке selectric. <a href="http://lcdsantos.github.io/jQuery-Selectric/" target="_blank">Документация</a>
        p Для правильной работы нужно подключить стили библиотеки.
        p Стили применяются к обычному &lt;select&gt;
        h4 JADE
        pre
            | select
            |   option(value="1") Пункт 1
            |   option(value="2") Пункт 2

        h4 HTML
        pre
            |   &lt;select&gt;
            |       &lt;option value="1"&gt;пунк 1&lt;/option&gt;
            |       &lt;option value="2"&gt;пунк 2&lt;/option&gt;
            |   &lt;/select&gt;

        h3 SASS

        h4 Параметры
        table
            thead
                tr
                    th Имя
                    th Описание
                    th Тип
                    th Зн.
                    th По-умолчанию
            tbody
                tr
                    td $select-font-size
                    td Размер текста
                    td px
                    td px
                    td 16px
                tr
                    td $select-font-family
                    td Шрифт
                    td string
                    td -
                    td $font
                tr
                    td $select-color
                    td Цвет
                    td color
                    td -
                    td $black
                tr
                    td $select-border-width
                    td Размер бордера
                    td number
                    td px
                    td 1px
                tr
                    td $select-border-color
                    td Цвет бордера
                    td color
                    td -
                    td #ccc
                tr
                    td $select-border-radius
                    td Радиус скругления
                    td number
                    td px
                    td 4px
                tr
                    td $select-height
                    td Высота селекта
                    td number
                    td rhytm
                    td $btn-height
        h4 Параметры - пункта селекта
        table
            thead
                tr
                    th Имя
                    th Описание
                    th Тип
                    th Зн.
                    th По-умолчанию
            tbody
                tr
                    td $select-item-background-color
                    td Цвет фона (select и option)
                    td color
                    td -
                    td $white
                tr
                    td $select-item-background-color-selected
                    td Цвет фона выбранного пункта
                    td color
                    td -
                    td #ccc
                tr
                    td $select-item-background-color-hover
                    td Цвет фона пункта при наведении
                    td color
                    td -
                    td lighten($select-item-background-color-selected, 15%)
                tr
                    td $select-item-color-hover
                    td Цвет выбранного пункта и при наведении
                    td color
                    td -
                    td #999
                tr
                    td $select-item-border-width
                    td Размер бордера у пункта
                    td number
                    td px
                    td 1px
                tr
                    td $select-item-border-color
                    td Цвет бордера у пункта
                    td color
                    td -
                    td #eee

        h3 Вживую
        include ../blocks/_select

