extends _layout
block title
    title Галерея
block content
    h1 Галерея
    p В проекте в качестве галереи используется Фоторама. <a href="http://fotorama.io/customize/" target="_blank">Документация.</a> <br> Галерея с зумом есть <a href="/html/doc/construction-progress.html"> на странице с ходом строительства</a>

    h3 Основные возможности
    .b-list-reset
        ul
            li Когда слайдер упёрся в первый или последний слайд, то стрелки меняют своё состояние (выключаются).
            li При бесконечной прокрутке стрелки показываются всегда.

    h3 Использование
    pre
        |   @include blocks/_gallery.jade

    h3 Параметры - стрелки
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th Название картинки
        tbody
            tr
                td $gallery-arrow-prev
                td Картинка стрелки назад
                td string
                td -
                td gallery-prev
            tr
                td $gallery-arrow-next
                td Картинка стрелки вперёд
                td string
                td -
                td gallery-next
    small <sup>*</sup> Картинки надо положить в папку /sprites/1x, а в папку /sprites/2x его увеличенную в два раза версию

    h3 Параметры - превью(thumbs)
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $gallery-thumbs-border-color
                td Цвет бордера
                td color
                td -
                td $black
            tr
                td $gallery-thumbs-bg-color
                td Цвет фона
                td color
                td -
                td $black
            tr
                td $gallery-thumbs-bg-opacity
                td Прозрачность фона
                td number
                td 0.1
                td .2
            tr
                td $gallery-thumbs-position
                td Положение превьюшек
                td string
                td left|center|right
                td center

    h3 Параметры - лейблы
    p В data-labels добавляется массив с из пар значений "номер картинки/текст"
    pre
        | .b-gallery__base(
        |   data-labels='{"0": "Июль 2015", "3": "Август 2015", "5": "Сентябрь 2015"}'
        | )
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $gallery-label-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $gallery-label-bg-color
                td Цвет фона
                td color
                td -
                td $white
            tr
                td $gallery-label-position
                td Положение
                td string
                td top|bottom
                td false
            tr
                td $gallery-label-font-size
                td размер шрифта
                td number
                td px
                td 23px
            tr
                td $gallery-label-height
                td Высота лейбла
                td number
                td rhythm
                td 1
            tr
                td $gallery-label-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $gallery-image-container-bg-color
                td Цвет фона у контейнера лейблов
                td color
                td -
                td $gallery-image-bg-color
    h3 Параметры - навигация в виде точек (data-nav="dots")
    p При смещении положение у "точек" влево или вправо не забывайте давать отступ <code>$gallery-dots-horizontal-paddings</code>, что бы "точки" не прилипали к краю.
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $gallery-dots-size
                td Размер точки
                td number
                td px
                td 5px
            tr
                td $gallery-dots-color
                td Цвет
                td color
                td -
                td $black
            tr
                td $gallery-dots-color-hover
                td Цвет при наведении
                td color
                td -
                td lighten($gallery-dots-color, 30%)
            tr
                td $gallery-dots-position
                td Позиционирование точек
                td string
                td left|center|right
                td center
            tr
                td $gallery-dots-horizontal-paddings
                td Отступы слева и справа
                td number
                td px
                td 0
            tr
                td $gallery-dots-background-color
                td Цвет фона у блока с точками
                td color
                td -
                td $gallery-image-bg-color


    h3 Параметры - картинка
    p.
        Может так случится, что картинки в галерею попадут разноплановые
        (ландшафтные и портретные) и из-за этого в галерее появится пустое пространство.
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $gallery-image-bg-color
                td Фон картинки
                td color
                td -
                td #eee

    h3 Параметры - подпись (caption)
    p <code>data-caption</code> - добавляется к картинке
    pre
        | &lt;img src="/img/img.jpg <b>data-caption="Подпись к картирки"</b>"&gt;
        | &lt;a href="/img/img.jpg <b>data-caption="Подпись к картинке"</b>"&gt;&lta&gt;
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $gallery-caption-width
                td Ширина блока с подписью
                td number
                td % | auto
                td 100%
            tr
                td $gallery-caption-bg-color
                td Цвет фона
                td color
                td -
                td $white
            tr
                td $gallery-caption-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $gallery-caption-font-size
                td Размер текста
                td number
                td px
                td $base-font-size
            tr
                td $gallery-caption-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $gallery-caption-text-align
                td Расположение текста по горизонтали
                td string
                td left | center | right
                td left
            tr
                td $gallery-caption-inner-position
                td Расположение по вертикали
                td string
                td bottom | top
                td bottom

    h3 Вживую
    include ../blocks/_gallery
    br
    br
    h3 Галерея с навигацией-точками
    include ../blocks/_gallery-nav-dots
