extends _layout
block title
    title История развития
block content
    h1 История развития
    p Нумерация версий boilerplate - MAJOR.MINOT.PATCH
    p
        ul
            li MAJOR - крупное обновление обычно несовместимое с предыдущей версией
            li MINOR - незначительное изменения функциональности
            li PATCH - добавление/редактирование/исправление блоков
    ul.releases
        li
            div.releases-num 2.2.11
            div.releases-text.b-typ-reset
                b Дополнения
                ul
                    li добавила инициализацию радиусов на карте
        li
            div.releases-num 2.2.10
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li На .b-map__base добавл line-height т.к. внутри карты на родных балунах line-height может получится ужасным
        li
            div.releases-num 2.2.9
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li Убрала ошибку в карте, когда мы не передавали объект imageBounds
        li
            div.releases-num 2.2.8
            div.releases-text.b-typ-reset
                b Удаление
                ul
                    li Выпилил у карт signed-in
        li
            div.releases-num 2.2.7
            div.releases-text.b-typ-reset
                b Дополнения
                ul
                    li Добавила sourcemap'ы в gulp'е (но текущая версия для uglify не работает, нужно подождать апдейтов)
                    li Добавила несколько правил для stylelint
                    li Выпилила лишние картинки из png-спрайта
                    li Даша)
        li
            div.releases-num 2.2.6
            div.releases-text.b-typ-reset
                b Fix
                ul
                    li Вырубил генерации scss файла для svg-спрайта, т.к. мы его не использовали
        li
            div.releases-num 2.2.5
            div.releases-text.b-typ-reset
                b Дополнения
                ul
                    li Даша и Коля молодцы
                    li Теперь при коммите в мастере происходит минификация стилий и JS
        li
            div.releases-num 2.2.4
            div.releases-text.b-typ-reset
                b Изменения
                ul
                    li При генерации спрайта не заменяются родные классы svg-файла, чтобы вы могли навешивать на них стили.
        li
            div.releases-num 2.2.3
            div.releases-text.b-typ-reset
                b Изменения
                ul
                    li Отказался от gulp-connect в пользу browser-sync
        li
            div.releases-num 2.2.2
            div.releases-text.b-typ-reset
                b Фиксы
                ul
                    li Удалил ненужные зависимости
        li
            div.releases-num 2.2.1
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li Заменила scss-lint на style-lint. Теперь мы отказались от Ruby
        li
            div.releases-num 2.2.0
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li Заменила jshint и jscs на eslint.
        li
            div.releases-num 2.1.21
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li Обновила вебшим и добавила костыль, чтобы он нормально работал с jquery 2.2+
        li
            div.releases-num 2.1.20
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li Добавил postcss
                    li Выпили gulp-autiprefixer
                    li Добавил родной&nbsp;
                        a(target="_blank" href="https://github.com/postcss/autoprefixer") autoprefixer
                    li Добавил&nbsp;
                        a(target="_blank" href="https://github.com/luisrudge/postcss-flexbugs-fixes") postcss-flexbugs-fixes
        li
            div.releases-num 2.1.19
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li Добавила открытие ion-slider'а в попапе
        li
            div.releases-num 2.1.18
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li Убрала ненужное добавление -dims в спрайтах
        li
            div.releases-num 2.1.17
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li Стрелки в фотораме теперь позиционируются по вертикали: посередине высоты картинки
        li
            div.releases-num 2.1.16
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li
                        a(href="/html/doc/markup/webstorm.html") Документация по Вебшторму. Добавил горячие клавиши.
        li
            div.releases-num 2.1.15
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li Добавил веб-сервер. Теперь при gulp watch, создается сервер на localhost:8080
                    li Добавил описание жирности шрифта - <a href="/html/doc/markup/font-jhir.html">black</a>

        li
            div.releases-num 2.1.14
            div.releases-text.b-typ-reset
                b Добавление
                ul
                    li
                        a(href="/html/doc/markup/font-jhir.html") Таблица сопоставления жирности с названием  щрифта
        li
        li
            div.releases-num 2.1.13
            div.releases-text.b-typ-reset
                b Исправление
                ul
                    li Пофиксил вылет JADE при ошибочной компиляции
        li
            div.releases-num 2.1.12
            div.releases-text.b-typo-reset
                ul
                    li Теперь над imageBounds в карте появляется <a href="/html/doc/map.html#map-imageBounds">тултип</a>. Если в него добавить текст
        li
            div.releases-num 2.1.11
            div.releases-text.b-typo-reset
                ul
                    li Обновил scss-lint 0.49.0

        li
            div.releases-num 2.1.11
            div.releases-text.b-typo-reset
                ul
                    li Добавил SVGO для минификации SVG-спрайта
                    li Обновил доку по SVG, добавил <a href="/html/doc/markup/svg-sprite.html#designers">пункт для дизайнеров</a>
        li
            div.releases-num 2.1.10
            div.releases-text.b-typo-reset
                ul
                    li Поправил показ галереи. Теперь она плавно показывается и не видно как прыгают стрелочки
        li
            div.releases-num 2.1.9
            div.releases-text.b-typo-reset
                ul
                    li Добавил <a href="/html/doc/markup/svg-sprite.html">svg-спрайты</a>
                    li Добавил глобальные JS функции - <a href="/html/doc/javascript.html#utils">throttle и debounce</a>
                    li Переписали параметры в карточке квартиры на flexbox
        li
            div.releases-num 2.1.8
            div.releases-text.b-typo-reset
                ul
                    li Выпилил guideline т.к. никто им не пользовался
        li
            div.releases-num 2.1.7
            div.releases-text.b-typo-reset
                ul
                    li Добавил новых свойств для <a href="/html/doc/ajax-loader.html">ajax-preloader</a>
                    li Поправил описание "кнопок"
                    li Поправил разметку блока
                        a(href="/html/doc/callback.html") "Обратный звонок"
    ul.releases
        li
            div.releases-num 2.1.6
            div.releases-text.b-typo-reset
                b Добавления
                ul
                    li Добавил <a href="https://babeljs.io/">babel</a>. Коротко это транспайлер из ES6 в ES5 код.
                    li Для того чтобы использовать новые фичи из ES6.
                    li Писать можно как и раньше в ES5 стиле.

        li
            div.releases-num 2.1.5
            div.releases-text.b-typo-reset
                b Изменения
                ul
                    li Попап теперь не прижимается сверху и снизу к странице
        li
            div.releases-num 2.1.4
            div.releases-text.b-typo-reset
                b Изменения
                ul
                    li Выпилен compass-mixins
                    li Изменена работа миксинов <a href="/html/doc/mixins.html#mixin-vertical-rhythm">верстикального ритма</a>
        li
            div.releases-num 2.1.3
            div.releases-text.b-typo-reset
                b Изменения
                ul
                    li
                        | Изменены
                        a(href="/html/doc/markup/breakpoint.html")  брейкпоинты
                b Добавления
                ul
                    li
                        a(href="/html/doc/ajax-loader.html") ajax-loader
                        | - на всю страницу. Сделан на SVG
                    li
                        a(href="/html/doc/range-slider.html") range slider
                b Фиксы
                ul
                    li Попап научился работать на мобильных устройствах
                    li У попапа появилась адекватная прокрутка контента на IOS
                    li Изменен брейкпоинт - big - (769 - 1279)
                b Рефакторинг
                ul
                    li popup.js - поправил добавление mainClass, transitionDelay
                    li map.js - карты разучились понимать data-атрибуты
        li
            div.releases-num 2.1.2
            div.releases-text.b-typo-reset
                b Добавления
                ul
                    li Добавил блок <a href="/html/doc/progress-bar.html">прогресс бар</a>
        li
            div.releases-num 2.1.1
            div.releases-text.b-typo-reset
                b Хаки для принтера
                ul
                    li Добавлен файл print.scss
                    li print.css подключает на странице ПОСЛЕ! app.css
                    li Хак: резетит flexbox на обёртке страницы. Иначе страница печатается обрезанной
        li
            div.releases-num 2.1.0
            div.releases-text.b-typo-reset
                b Перезд
                ul
                    li Переезд в devhouse
        li
            div.releases-num 2.0.20
            div.releases-text.b-typo-reset
                b Добавление
                ul
                    li Новый блок - карточка банка
        li
            div.releases-num 2.0.19
            div.releases-text.b-typo-reset
                b Рефакторинг
                ul
                    li Переписан код попапа

                br
                b Новое
                ul
                    li При обновлении страницы, попап остается открытым
                    li Кнопка - назад - в бразуере закрывает попап
                    li У карт появился касмотный Zoom

        li
            div.releases-num 2.0.18
            div.releases-text.b-typo-reset
                b Рефакторинг
                ul
                    li Переписан код галереи на модульный паттер

                br
                b Фиксы
                ul
                    li Лейблы создаются не при каждом обновлении слайда, а при инициализации галереи
                    li Лейблы добавляются более адекватно, чем ранее через цикл
                    li У лейбла появился hbs шаблон
                    li Позиционирование лейбла теперь учитывает thumbmargin
                    li Стрелки теперь не появляются, когда у фоторамы один слайд и она зациклена (data-loop="true")
        li
            div.releases-num 2.0.17
            div.releases-text.b-typo-reset
                b Добвление нового блока
                ul
                    li Добавилась карта
        li
            div.releases-num 2.0.16
            div.releases-text.b-typo-reset
                b Добавления/исправления
                ul
                    li Добавил возможность менять размер бордера у цитаты

        li
            div.releases-num 2.0.15
            div.releases-text.b-typo-reset
                b Исправления
                ul
                    li У попапа поправлен минимальная ширина, теперь её нету в мобильной версии
                    li Название модификатора для высот кнопок было не правильный
                    li Подключение вертикального ритма было в неположенном месте
                    li Поправил стили для small
        li
            div.releases-num 2.0.14
            div.releases-text.b-typo-reset
                b Добавления
                ul
                    li У <code>&lt;label&gt;</code> появились новые настройки - $label-font-family и $label-margin-bottom
                    li Добавил <code>text-size-adjust</code>
                    li Добавил в лайоут подключение IE стилей.
        li
            div.releases-num 2.0.13
            div.releases-text.b-typo-reset
                b Добавления
                ul
                    li В галерее у точек появилось позицонирование - слева|по центру|справа
                    li Можно менять цвет фона блока точек, обычно нужно когда точки внутри фоторамы

        li
            div.releases-num 2.0.12
            div.releases-text.b-typo-reset
                b Фиксы
                ul
                    li Табы теперь могут принимать любой вид идентификатора
                    li Поправил типографику - em, i, strong, b
        li
            div.releases-num 2.0.11
            div.releases-text.b-typo-reset
                b Добавление функциональности
                ul
                    li У заголовков h1 и h2 по-умолчанию есть отступ снизу. Можно менять $headings-margin-trailer
                    li Поправил guideline
                    li Поправлено описание попапа
        li
            div.releases-num 2.0.11
            div.releases-text.b-typo-reset
                b Исправление багов, добавление нового, рефакторинг
                ul
                    li Удалены неиспользуемые зависимости - csscomb, yandex map
                    li Обновлен package.json
                    li У placeholder добавлен новый параметр - opacity
                    li Добавлен новый блок -Табы
                    li У попапа появился новый параметр - border-radius
                    li Добавлен новый блок - лейбл
                    li Переписан некоторый JS на паттерн модуль
                    li Добавлен блок - Заказать обратный звонок
        li
            div.releases-num 2.0.10
            div.releases-text.b-typo-reset
                b Добавление новых параметров у <a href="/html/doc/typography.html#typography-links">ссылок</a>
                ul
                    li $link-color-hover
                    li $link-text-decoration - normal | invert | reset

        li
            div.releases-num 2.0.9
            div.releases-text.b-typo-reset
                b Исправление багов
                p Поправлена структура проекта для правильной работы типографии, <br>до исправления типографические стили перезаписывали друг друга.

        li
            div.releases-num 2.0.8
            div.releases-text.b-typo-reset
                b Типография
                ul
                    li Адаптивные загаловки
                    li Цитата (миксин)
                    li Small
                    li Параграф
                    li Ссылка
                    li Несортированный список
                    li Сортированный список
        li
            div.releases-num 2.0.7
            div.releases-text.b-typo-reset
                b Исправление багов
                ul
                    li Попап:
                        ul
                            li Поправлено описание попапа.
                            li Исправлена куча ошибок в попапе.
                            li Добавлены новые настроки
                            ul
                                li Добавление тем
                                li Полноэкранный попап
                                li Анимация появления и исчезания
                    li В галерее исправлено много багов. Добавлены новые настройки
                    li В селекте исправлено наложение выпадающего списка на другой селект.
                    li Поправлено описание сетки


        li
            div.releases-num 2.0.6
            div.releases-text.b-typo-reset
                b Добавление миксина
                ul
                    li text-trasform
        li
            div.releases-num 2.0.5
            div.releases-text.b-typo-reset
                b Исправление попапа
                ul
                    li Поправлено переполнение контента на мобильнике
                    li Контент теперь растягивается в зависимости от вложенного контента
                    li Доавблены новые параметры
                    li Дополнен JS
                    li Отрефакторен SASS
        li
            div.releases-num 2.0.4
            div.releases-text.b-typo-reset
                b Исправление блоков
                ul
                    li Инпут с леблом теперь не ломаются в Firefox. И теперь их может быть несколько на странице.
                    li Поправлен robots.txt
                    li Добавлены новые параметры в Селект
                    li Добавлены новые параметры в галереи (caption, labels, thumbs, dots, arrow)
                    li Галерея обзавелась описанием
                    li Навигация разделилась на две - одноуровневая и многоуровневая
                    li Логотип компании превратился в миксин
        li
            div.releases-num 2.0.3
            div.releases-text.b-typo-reset
                b Добавление блоков
                ul
                    li Добавил блок селект
        li
            div.releases-num 2.0.2
            div.releases-text.b-typo-reset
                b Добавление блоков
                ul
                    li Логотип Кельник (SVG)
                    li Логотип компании
                    li Кнопки
                    li Попап
                    li Формы - инпуты
                    li Формы - checkbox
                    li Формы - radio
                    li Навигация
                    li Галерея
                    li Инпут с анимированным лэйблом
        li
            div.releases-num 2.0.1
            div.releases-text.b-typo-reset
                ul
                    li typograf
        li
            div.releases-num 2.0.0
            div.releases-text.b-typo-reset
                b Мажорное обновление
                ul
                    li scss-lint
                    li jscs
                    li jshint
                    li gulp
                    li requirejs
                    li bower
                    li jade
                    li handlebars
                    li fotorama
                    li magnific
                    li webshim
                    li sprite.smith
        li
            div.releases-num 1.0.0
            div.releases-text.b-typo-reset
                b И было это давно и никто не помнит уже.
                ul
                    li SASS на Ruby
                    li Compass
                    li Susy
                    li Ни единого блока.
