extends _layout
block title
    title Документация
block content
    h1 Документация

    h2 Общее
    ul
        li 1)&nbsp;
            a(href="markup/dictionary.html") Словарь терминов


    br
    br
    br


    h2 Верстка
    ul
        li 1)&nbsp;
            a(href="markup/layout.html") Как пользоваться сеткой
        li 2)&nbsp;
            a(href="markup/breakpoint.html") Брейкпоинты
        li 3)&nbsp;
            a(href="markup/svg-sprite.html") SVG спрайт
        li 4)&nbsp;
            a(href="markup/font-jhir.html") Таблица жирности шрифтов
        li 5)&nbsp;
            a(href="markup/webstorm.html") WebStorm
