extends _layout
block title
    title Javascript
block content
    h1 Javascript

    h2#utils Utils

    h3 Throttle и Debounce
    p Про throttle и debounce более подробную информацию можно узнать у <a href="http://www.paulirish.com/2009/throttled-smartresize-jquery-event-handler/">первоисточника</a>.
    p Реализует две возможности с помощью которых можно задавать характер выполнения указанных функций — максимальную частоту их выполнения и задержку выполнения после вызова.
    p Очень полезно использовать при часто вызываемых событиях - resize, mouseover и пр.

    h3#throttle Throttle
    h4 Описание
    p Максимальная частота выполнения.
    h4 Пример
    pre
        | function myFunc () { } // создаем функцию, которая что-то делает
        | $(window).on('resize', $.throttle(300, myFunc()));
    p myFunc() будет выполняться через каждые 300ms ресайза окна

    h3#debounce Debounce
    h4 Описание
    p Задержка выполнения после вызова.
    pre
        | function myFunc () { } // создаем функцию, которая что-то делает
        | $(window).on('resize', $.debounce(300, myfunc()));
    p myFunc() будет выполняться спустя 300ms после последнего вызова resize
