extends _layout
block title
    title Карта
block content
    h1 Карта


    h2 Быстрая навигация по разделу
    .b-typo-reset
        ul
            li
                a(href="#map-zoom") Zoom
            li
                a(href="#map-zooms") MinZoom и maxZoom
            li
                a(href="#map-customzoom") Custom Zoom
            li
                a(href="#map-center") Center
            li
                a(href="#map-scrollwheel") Scrollwheel
            li
                a(href="#map-styles") Styles
            li
                a(href="#map-bounds") fitBounds
            li
                a(href="#map-markers") Маркеры
            li
                a(href="#map-imageBounds") imageBounds
            li
                a(href="#map-clustering") Кластеризация
            li
                a(href="#map-tab") Фильтрация (табы)
    br


    h2 Словарь
    .b-typo-reset
        ul
            li Baloon - балун - блок с большим содержанием данных (заголовок, текст, картинка, галерея)
            li Tooltip - тултип - обычно строка текста (магазин, библиотека)
            li Latitude - Lat - Широта
            li Longitude - Lng - Долгота
            li InfoWindow - стандартный балун Google maps.
            li InfoBox - библиотека для работы со стандартным infoWindow
            li fitBounds - обрезка карты по маркерам
            li imageBounds - картинка на карте
    br


    h2 Описание
    p В качестве карты используется Google Map.
        a(target="_blank" href="https://developers.google.com/maps/documentation/javascript/tutorial")  Документация.
    p Для балуна используется infoBox.
        a(target="_blank" href="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html")  Документация.
    br


    h2 Использование
    h3 Jade
    pre
        | #map.j-map.b-map
    h3 HTML
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2 Применение настроек
    p Настройки карте можно передавать как через дата-атрибуты.
    pre
        | &lt;div id="map" <b>data-zoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;
    p так и через глобальны Javascript объект <code>window.map</code>
    pre
        | &lt;div id="<b>map</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['<b>map</b>'] = {
        |   <b>zoom: 18</b>
        | }
    p Обрати внимние, что <code>window.map</code> нужно передавать идентификатор карты.
    p Для нескольких карт на странице код будет выглядеть следущим образом.
    pre
        | &lt;div id="<b>map1</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | &lt;div id="<b>map2</b>" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['<b>map1</b>'] = {
        |   ...
        | }
        | window.map['<b>map2</b>'] = {
        |   ...
        | }
    h3 Помни!
    p Настройки карты через дата-атрибуты всегда главнее настроек переданных через JS
    pre
        | &lt;div id="map" <b>data-zoom="20" </b>class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>zoom: 15</b>
        | }
    p На карте применится <b>zoom</b> равный <b>20</b>.
    br


    h2#map-zoom Параметры - zoom
    p Zoom - может принимать значения от 1 до 20.
    table
        tr
            td(width="200px") Значение
            td Описание
        tr
            td 1
            td мир
        tr
            td 5
            td континент
        tr
            td 10
            td город
        tr
            td 15
            td улица
        tr
            td 20
            td дом
    pre
        | &lt;div id="map" <b>data-zoom="18" </b>class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2#map-zooms Параметры - minzoom и maxzoom
    p Минимальный и максимальный zoom.
    pre
        | &lt;div id="map" <b>data-minzoom="10" data-maxzoom="18"</b> class="j-map b-map"&gt;&lt;/div&gt;
    h3 Помни!
    p По-умолчанию минимальный zoom имеет значение 10 (город), а максимальный
        | 18(почти дом)
    p Это значит, что если вы указываете zoom выходящий из этого предела (10-18),
        | то zoom будет проигнорирован и показано минимальное, либо максимальное значение.
    br

    h2#map-customzoom Кастомный Zoom
    p Для того, что бы сделать кастомный zoom у карты, карту нужно обернуть <code>.l-map</code>
    p И добавить два элемента для стилизации Зума
    pre
        | &lt;div class="<b>l-map</b>"&gt;
        |   &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        |   <b>&lt;a href="javascript:;" class="b-map__zoom b-map__zoom-in"&gt;+&lt;/a&gt;
        |   &lt;a href="javascript:;" class="b-map__zoom b-map__zoom-out"&gt;-&lt;/a&gt;</b>
        | &lt;/div&gt;
    br


    h2#map-center Center
    p Координаты, в которых карта будет центрироваться.
    p Первым элементом в  массиве идёт широта, вторым долгота.
    pre
        | &lt;div id="map" <b>data-center=[59.939552, 30.423428]</b> class="j-map b-map"&gt;&lt;/div&gt;
    br


    h2#map-scrollwheel Scrollwheel
    p Прокрутка карты с помощью колёсика мышки.
    pre
        | &lt;div id="map" <b>data-scrollwheel="false"</b> class="j-map b-map"&gt;&lt;/div&gt;
    table
        tr
            td Значение
            td Описание
        tr
            td true
            td (по-умолчанию) - включает прокрутку (zoom) карты колёсиком
        tr
            td false
            td отключает прокрутку
    br


    h2#map-styles Стили
    p Стили карты приходят от дизайнера. Дизайнер генерит их <a href="https://snazzymaps.com/" target="_blank">здесь</a>.
    p Настройки стилей приходят в массиве [{...}, {...}, ...].
    p Если вам эти стили потребуются на <b>всех</b> картах проекта, то вы можете массив добавить сразу в map.js
    pre
        | this.options = {
        |   styles: [{...}, {...}, ...]
        | }
    p Для определённой карты, что реже
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>styles: [{...}, {...}, ...]</b>
        | }
    br


    h2#map-bounds fitBounds
    p Обрезка карты по крайним маркерам.
    h3 HTML
    pre
        | &lt;div id="map" class="j-map b-map" <b>data-fit="true"</b>&gt;&lt;/div&gt;
    h3 JS
        pre
            | window.map = {}
            | window.map['map'] = {
            |   <b>fit: true</b>
            | }
    p При указании этого параметра, на карте начинают игнорироваться - Zoom и Center.
    br

    h2#map-markers Маркеры
    p Карта принимает JS объект маркера
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>markers: [
        |       {...}
        |   ]</b>
        | }
    p Свойства объекта маркера
    table
        tr
            td Имя
            td Описание
            td Тип
            td Пример
        tr
            td coords
            td Позиция маркера - широта и долгота
            td array
            td [59.939552, 30.423428]
        tr
            td image
            td Картинка маркера
            td string
            td '/img/markers/marker.png'
        tr
            td title
            td Заголовок для балуна
            td string
            td 'Заголовок'
        tr
            td text
            td Текст для балуна
            td string
            td 'Какой-то текст'
        tr
            td url
            td Ссылка
            td string
            td 'http://kelnik.ru'
    p При клике на маркер появляется балун.
    p При клике на маркер с url'ом происходит переход на ссылку. Внешняя ссылка открывается в новом окне.
    h3 Пример применения маркера
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>markers: [
        |       {
        |           coords: [59.939552, 30.423428],
        |           image : '/img/markers/marker.png',
        |           title : 'Заголовок',
        |           text: 'Какой-то текст'
        |       }
        |   ]</b>
        | }
    br


    h2#map-imageBounds Картинка на карте
    p Обычно используется, когда мы помещаем 3D-модель ЖК на карте
    h3 Применение
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>imageBounds: {
        |       north: 59.94013265261781,
        |       west : 30.421067476272583,
        |       south: 59.93848275563834,
        |       east : 30.425067476272583,
        |       image: '/img/groundOverlay.png',
        |       title: 'Заголовок',
        |       text: 'Какой-то текст',
        |    },</b>
        | }
    table
        tr
            td Имя
            td Описание
            td Значение
            td Пример
        tr
            td north
            td крайняя широта верхней стороны картинки
            td coords | lat
            td 59.94013265261781
        tr
            td west
            td крайняя долгота левой стороны картинки
            td coords | lng
            td 30.421067476272583
        tr
            td south
            td крайняя широта нижней стороны картинки
            td coords | lat
            td 59.93848275563834
        tr
            td east
            td крайняя долгота правой стороны картинки
            td coords | lng
            td 30.425067476272583
        tr
            td image
            td Картинка
            td string
            td '/img/groundOverlay.png'
        tr
            td title
            td Заголовок для тултипа
            td string
            td Заголовок
        tr
            td text
            td Текст для тултипа
            td string
            td Какой-то текст

    h2#map-clustering Кластеризация
    h3 Описание
    //img(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png")
    p Вид маркера должен быть, примерно, вот таким. Это, кстати, картинка кластера по-умолчанию.
    p Самое главное в этой картинке - это центр. В центре картинки будет цифра.
        | Поэтому центр картинки обязательно должен быть однородного цвета, а цвет цифры должен быть читаемым на фоне картинки.
    h3 Применение
    pre
        | &lt;div id="map" class="j-map b-map"&gt;&lt;/div&gt;
        | window.map = {}
        | window.map['map'] = {
        |   <b>clusterOptions : {
        |       styles: [
        |           {
        |               textColor: '#ffffff',
        |               url      : '/img/map/markers/marker.png',
        |               height   : 44,
        |               width    : 34
        |            }
        |        ]
        |   }</b>
        | }
    table
        tr
            td Имя
            td Описание
            td Тип
            td Значение
            td Пример
        tr
            td textColor
            td Цвет текста
            td color
            td hex
            td #ffffff
        tr
            td url
            td Путь до картинки
            td string
            td -
            td '/img/map/markers/marker.png'
        tr
            td height
            td Высота картинки
            td number
            td px
            td 44px
        tr
            td width
            td Ширина картинки
            td number
            td px
            td 34px

    h2#map-tab Фильтрация (tab)
    h3 HTML
    pre
        | &lt;ul class="b-map-tabs"&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="0"</b> class="b-map-tabs__item is-active"&gt;Все&lt;/a&gt;
        |   &lt;/li&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="1"</b> class="b-map-tabs__item"&gt;Библиотеки&lt;/a&gt;
        |   &lt;/li&gt;
        |   &lt;li&gt;
        |       &lt;a href="javascript:;" <b>data-type="2"</b> class="b-map-tabs__item"&gt;Школы&lt;/a&gt;
        |   &lt;/li&gt;
        | ...
        | &lt;/ul&gt;
    h3 JS
    pre
        | markers: [
        |   {
        |   ...
        |       <b>type: 1</b>
        |   },
        |   {
        |   ...
        |       <b>type: 2</b>
        |   }
    h3 Описание
    p Таб с <code>type=0</code> включает все маркеры. У маркера не может быть параметра <code>type=0</code>
    h2#map-live Вживую
    include ../blocks/map/_map
