extends _layout
block title
    title Миксины
block content
    h1 Миксины
    h2 Быстрая навигация
    .b-typo-reset
        ul
            li
                a(href="#mixin-text-transform") text-transform
            li
                a(href="#mixin-vertical-rhythm") vertical rhythm

    h2#mixin-text-transform text-transform (uppercase)
    pre
        | @mixin text-transform($letter-spacing) { ... };

    h3 Описание
    p.
        При указании элементу <code>text-transform: uppercase</code>, требуется не забыть указать
        <code>letter-spacing: $gl-letter-spacing;</code>

    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $letter-spacing
                td Межбуквенный интервал
                td number
                td em|false
                td $gl-letter-spacing
    p При параметре <code>false</code> - letter-spacing не генерится.
    h3 Пример
    pre
        | span {
        |       @include text-transform();
        | }
    pre
        | span {
        |       text-transform: uppercase;
        |       letter-spacing: .2em;
        | }


    h2#mixin-vertical-rhythm
    h3 Описание
    p.
        Миксины предназначены для одинаковых отступов и полей (margin, padding)
        от блоков.

    h4 Внимание! Все миксины должны принимать значение
    h5 Правильно
    pre
        | @include margin-trailer(<b>1</b>);
        | @include padding-trailer(<b>1</b>);
    h5 Не правильно
    pre
        | @include margin-trailer();
        | @include padding-trailer();
    br

    h3 Margin-trailer - отступ снизу
    pre
        | .b-block {
        |   @include margin-trailer(1);
        | }
    pre
        | .b-block {
        |   margin-bottom: 24px;
        | }
    br

    h3 Margin-leader - отступ сверху
    pre
        | .b-block {
        |   @include margin-leader(1);
        | }
    pre
        | .b-block {
        |   margin-top: 24px;
        | }
    br

    h3 Padding-trailer - поле снизу
    pre
        | .b-block {
        |   @include padding-trailer(1);
        | }
    pre
        | .b-block {
        |   padding-bottom: 24px;
        | }
    br

    h3 Padding-leader - поле сверху
    pre
        | .b-block {
        |   @include padding-leader(1);
        | }
    pre
        | .b-block {
        |   padding-top: 24px;
        | }
    br

    h3 Rhythm-margins - отступ и сверху и снизу
    pre
        | .b-block {
        |   @include rhythm-margins(1);
        | }
    pre
        | .b-block {
        |   margin-top: 24px;
        |   margin-bottom: 24px;
        | }
    br

    h3 Rhythm-padding - поле и сверху и снизу
    pre
        | .b-block {
        |   @include rhythm-padding(1);
        | }
    pre
        | .b-block {
        |   padding-top: 24px;
        |   padding-bottom: 24px;
        | }
    br

    p.
       Rhythm-margins и rhythm-padding принимают второй необязательный параметр.
        Может понадобится, когда отступы отличаются

    pre
        | .b-block {
        |   @include rhythm-margins(1, 2);
        |   @include rhythm-padding(1, 2);
        | }
    pre
        | .b-block {
        |   margin-top: 24px;
        |   margin-bottom: 48px;
        |   padding-top: 24px;
        |   padding-bottom: 48px;
        | }
    br
