extends _layout
block title
    title Навигация
block content
    h1 Навигация

    h2#nav-signle Одноуровневая

    h3 Использование
    pre
        |   include blocks/_nav

    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $nav-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $nav-font-size
                td Размер шрифта
                td number
                td px
                td 17px
            tr
                td $nav-font-family
                td Шрифт
                td string
                td -
                td $font
            tr
                td $nav-text-transform
                td Преобразование текста в прописные или заглавные
                td bool
                td true/false
                td false

    h3 Дополнительные параметры - hover
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $nav-color-hover
                td Цвет текста
                td color
                td -
                td #ff0000

    h3 Дополнительные параметры - active
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $nav-color-active
                td Цвет текста
                td color
                td -
                td #ffa500


    h3 Вживую
    include ../blocks/_nav

    br
    hr
    br

    h2#nav-multi Многоуровневая навигация
    p Это таже самая <a href="/html/doc/nav.html#nav-signle">одноуровневая навигация</a>, только с выпадющим меню.

    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $nav-sublist-arrow:
                td Картинка стеловчки
                td string
                td
                td nav-sublist
    p Картинку надо положить в папку /sprites/1x, а в папку /sprites/2x его увеличенную в два раза версию

    h3 Вживую
    include ../blocks/_multi-nav
