extends _layout
block title
    title Попап
block content

    h1 Попап
    p В проекте в качестве попапа используется Magnific.
        a(target="_blank" href="http://dimsemenov.com/plugins/magnific-popup/documentation.html")  Документация

    h2 Описание
    p.
        Контентом в попапе может быть всё что угодно - карта, галерея, картинка, форма, текст.
        Весь контент помещайте в <code>.b-popup</code>.

    h3 Использование
    pre
        |   &lt;a href="<b>#popup</b>" class="j-popup"&gt;Открыть попап&lt;a&gt;
        |   &ltdiv id="<b>#popup</b>"&gt;
        |       ...
        |   &lt;div&gt;

    p В данном примере ссылка покажет в попапе, всё что находится в <code>#popup</code>.

    h3 Параметры
    p Параметры применяются через data-атрибуты на ссылке

    h3 Параметры - основные
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td data-type
                td Тип попапа
                td string
                td inline | iframe | image
                td inline
    h4 Пример
        pre
            |   &lt;a href="#" <b>data-type="inline"</b>&gt;Открыть попап&lt;a&gt;

    h3 Параметры - темы
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td data-theme
                td На родителя попапа вешается модификатор
                td string
                td -
                td -
    h4 Пример
    pre
        |   &lt;a href="#" <b>data-theme="orange"</b>&gt;Открыть попап&lt;a&gt;
    p На основе этого data-атрибута создаётся класс <code>b-theme_theme_orange</code>. И вы можете унаследовшись от него задать свои стили.
    h4 SASS
    pre
        | .b-theme_theme_<b>orange</b> {
        |       .b-popup {
        |           ...
        |       }
        | }

    h3 Параметры - полноэкранный
    table
        thead
            tr
                th Имя
                th Описание
        tbody
            tr
                td data-fullsize
                td Полноэкранный попап
    h4 Пример
        pre
            |   &lt;a href="#" <b>data-fullsize</b>&gt;Открыть попап&lt;a&gt;

    h3 Параметры - анимация исчезания и появления
    p Плавное появление и скрытие попапа
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td data-toggle-time
                td Время появления и исчезновения
                td number
                td ms
                td 0
    h4 Пример
    pre
        |   &lt;a href="#" <b>data-toggle-time="300"</b>&gt;Открыть попап&lt;a&gt;



    h3 Параметры - тело попапа
    h4 SASS
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $popup-color
                td Цвет текста
                td color
                td -
                td $base-font-color
            tr
                td $popup-bg-color
                td Цвет фона
                td color
                td -
                td $white
            tr
                td $popup-overlay-color
                td Цвет оверлея
                td color
                td -
                td $black
            tr
                td $popup-overlay-opacity
                td Прозрачность оверлея
                td number
                td .10
                td .8
            tr
                td $popup-border-radius
                td Радиус скругления контента попапа
                td number
                td px
                td 0

    h3 Параметры - кнопка
    p Кнопка в попапе имеет два вида - кнопка в мобильном виде и крестик на десктопе.
    p В мобильной версии все параметры по-умолчанию принимаются от <code>.b-btn</code>
    p.
        Для отображения крестика добавить в папки /sprites/1x и /sprites/2x
        картинки popup-close.png.
    h4 Кнопка мобильная
    h4 SASS
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $popup-btn-mobile-color
                td Цвет текста
                td color
                td -
                td $btn-color
            tr
                td $popup-btn-mobile-bg-color
                td Цвет фона
                td color
                td -
                td $btn-bg-color
            tr
                td $popup-btn-mobile-font-size
                td Размер шрифта
                td number
                td px
                td $btn-font-size
            tr
                td $popup-btn-mobile-line-height
                td Межстрочный интервал
                td number
                td px
                td $base-vertical-rhythm
            tr
                td $popup-btn-mobile-font-family
                td Шрифт
                td string
                td -
                td $btn-font-family
            tr
                td $popop-btn-mobile-height
                td Высота кнопки
                td number
                td rhythm
                td $btn-height
            tr
                td $popup-btn-mobile-tt-up
                td Преобразование текста в прописные или заглавные
                td bool
                td false|true
                td $btn-tt-up / false

    h4 Кнопка десктопная
    h4 SASS
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $popup-btn-close-image
                td Название файла картинки крестика
                td string
                td -
                td popup-close
            tr
                td $popup-btn-opacity
                td Прозрачность крестика
                td number
                td .1
                td .5

    h3 Вживую
    a(href="#popup").j-popup Открыть попап 1
    include ../blocks/_popup
