extends _layout
block title
    title Прогресс бар
block content
    h1 Прогресс бар
    h2 Параметры
    h3 SASS

    h4 Настройка линий
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $progress-bar-color
                td Цвет подложки
                td color
                td -
                td $black
            tr
                td $progress-bar-line-color
                td Цвет линии
                td color
                td -
                td $gray
            tr
                td $progress-bar-height
                td Высота
                td number
                td px
                td 10px
            tr
                td $progress-bar-padding
                td Отступ между внешней границей и линией
                td number
                td px
                td 2px
            tr
                td $progress-bar-border-radius
                td Радиус скругления
                td number
                td px
                td 6px
            tr
                td $progress-bar-animate
                td Анимация линии
                td boolean
                td true|false
                td true

    h4 Настройка текста - 50%
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $progress-bar-font-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $progress-bar-font-family
                td Шрифт
                td string
                td -
                td $font
            tr
                td $progress-bar-font-size
                td Размер шрифта
                td number
                td px
                td 16px
            tr
                td $progress-bar-line-height
                td Межстрочный интервал
                td number
                td px
                td 24px

    h4 Настройка текста - Дом сдан
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $progress-bar-done-font-color
                td Цвет текста
                td color
                td -
                td $black
            tr
                td $progress-bar-done-font-family
                td Шрифт
                td string
                td -
                td $font
            tr
                td $progress-bar-done-font-size
                td Размер шрифта
                td number
                td px
                td 20px
            tr
                td $progress-bar-done-line-height
                td Межстрочный интервал
                td number
                td px
                td 24px


    h2 Вживую
    include ../blocks/_progress-bar
