extends _layout
block title
    title Range slider
block content
    h1 Range slider
    h2 Вживую
    include ../blocks/_range-slider
    br
    br
    br
    h2 Слайдер в попапе
    p Проблема: при открытии слайдера в попапе ion-slider неправильно работает. <br> Для того, чтобы он заработал на ссылку j-popup добавляем дата-атрибут data-slider="ion-slider", а всем слайдерам j-range-sliders добавляем атрибут data-noinit="true"
    h3 Пример
    a(href="#popup-with-slider" data-slider="ion-slider").j-popup.b-btn.b-btn_width_auto Открыть попап
    include ../blocks/_popup-with-slider
