extends _layout
block title
    title Параметрический поиск
block content
    h1 Параметрический поиск
    h2 Вживую
    include ../blocks/search/_search-filter
    include ../blocks/search/_search-result
