extends _layout
block title
    title Табы
block content
    h1 Табы
    p Каркас табов лежит в jade/blocks/_tabs.jade

    h2 Пример
    pre
        |   &lt;div class="b-tabs j-tabs"&gt;
        |       &lt;div class="b-tabs__triggers"&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-1</i></b>" class="b-tabs__item <b>is-active</b>"&gt;Таб 1&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-second</i></b>" class="b-tabs__item"&gt;Таб 2&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-третий</i></b>" class="b-tabs__item <b>is-disabled</b>"&gt;Таб 3&lt;/a&gt;
        |           &lt;a href="javascript:;" <b>data-tab="<i>tab-4</i></b>" class="b-tabs__item"&gt;Таб 4&lt;/a&gt;
        |       &lt;/div&gt;
        |       &lt;ul class="b-tabs__contents"&gt;
        |           &lt;div <b>data-tab-content="<i>tab-1</i></b>" class="b-tabs__content <b>is-active</b>"&gt;111111111111&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-second</i></b>" class="b-tabs__content"&gt;222222222222&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-третий</i></b>" class="b-tabs__content"&gt;333333333333&lt;/div&gt;
        |           &lt;div <b>data-tab-content="<i>tab-4</i></b>" class="b-tabs__content"&gt;444444444444&lt;/div&gt;
        |       &lt;/ul&gt;
        |   &lt;/div&gt;

    h2 JADE
    h3 Параметры
    table
        thead
            tr
                th Имя
                th Описание
        tbody
            tr
                td data-tab
                td По этому индентификатору открывается контент
            tr
                td data-tab-content
                td Идентификатор контента

    h2 SASS
    h3 Параметры - таб
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color
                td Цвет текста
                td color
                td -
                td #337ab7
            tr
                td $tabs-tab-background
                td Фон таба
                td color
                td -
                td $white
            tr
                td $tabs-font-size
                td Тип попапа
                td Размер текста
                td px
                td 16px
            tr
                td $tabs-font-family
                td Шрифт
                td string
                td -
                td $font-bold
            tr
                td $tabs-border-radius
                td Радиус скругления
                td number
                td px
                td 3px
            tr
                td $tabs-border-size
                td Размер бордера
                td number
                td px
                td 1px
            tr
                td $tabs-border-color
                td Цвет бордера
                td color
                td -
                td #eee
            tr
                td $tabs-horizontal-padding:
                td Горизонтальные паддинги
                td number
                td px
                td 10px
            tr
                td $tabs-height
                td Высота таба
                td number
                td rhythm unit
                td 1.5


    h3 Параметры - активный таб (active)
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color-active
                td Цвет тектса
                td color
                td -
                td #337ab7
            tr
                td $tabs-background-color-active
                td Фон таба
                td color
                td -
                td #e6e6e6

    h3 Параметры - неактивный (disabled)
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-color-disabled
                td Цвет тектса
                td color
                td -
                td #eee
            tr
                td $tabs-background-color-disabled
                td Фон таба
                td color
                td -
                td #ddd

    h3 Параметры - контент
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $tabs-content-paddings
                td Внутренний отступ внутри контента
                td number
                td px
                td 20px



    h3 Вживую
    include ../blocks/_tabs

