extends _layout
block title
    title Типография
block content
    h1 Типография

    h2#typography-font Шрифты
    p В проекте обязательно должны присутствовать три типа основного шрифта:
    .doc-row
        ul
            li Обычный (regular)
            li Жирный (bold)
            li Курсивный (italic)


    h2#typography-headings Заголовки
    h3 Приммер
    pre
        | &lt;h1&gt; h1. Заголовок 1го уровня &lt;h1&gt;
        | &lt;h2&gt; h2. Заголовок 2го уровня &lt;h2&gt;
        | &lt;h3&gt; h3. Заголовок 3го уровня &lt;h3&gt;
        | &lt;h4&gt; h4. Заголовок 4го уровня &lt;h4&gt;
        | &lt;h5&gt; h5. Заголовок 5го уровня &lt;h5&gt;
        | &lt;h6&gt; h6. Заголовок 6го уровня &lt;h6&gt;

    h1 h1. Заголовок 1го уровня
    h2 h2. Заголовок 2го уровня
    h3 h3. Заголовок 3го уровня
    h4 h4. Заголовок 4го уровня
    h5 h5. Заголовок 5го уровня
    h6 h6. Заголовок 6го уровня

    h3 Настройка
    h4 SASS
    p.
        Настройкой является переменная <code>$headings</code>, значением которой
        является список размеров заголовков.
    pre
        | $headings:
        |    (h1 24px 36px 48px),
        |    (h2 20px 30px 40px),
        |    (h3 19px 25px 31px),
        |    (h4 18px 21px 25px),
        |    (h5 17px 18px 20px),
        |    (h6 16px 16px 16px);

    table
        thead
            tr
                th Заголовок
                th Мобильный
                th Планшет
                th Десктоп
        tbody
            tr
                td <code>&lt;h1&gt;</code>
                td 24px
                td 36px
                td 48px
            tr
                td <code>&lt;h2&gt;</code>
                td 20px
                td 30px
                td 40px
            tr
                td <code>&lt;h3&gt;</code>
                td 19px
                td 25px
                td 31px
            tr
                td <code>&lt;h4&gt;</code>
                td 18px
                td 21px
                td 25px
            tr
                td <code>&lt;h5&gt;</code>
                td 17px
                td 18px
                td 20px
            tr
                td <code>&lt;h6&gt;</code>
                td 16px
                td 16px
                td 16px
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $headings-tt-uppercase
                td Преобразование текста в прописные или заглавные
                td bool
                td false|true
                td false
            tr
                td $headings-font-family
                td Шрифт
                td string
                td -
                td -
            tr
                td $headings-margin-trailer
                td Нижний отступ у заголовков h1, h2
                td number
                td rhythm
                td 1

    br
    br


    h2#typography-blockquote Цитата
    h3 Пример
    pre
        | &lt;blockquote&gt;
        |   Ты не несешь ответственности за то, чего ждут от тебя другие люди. Если от тебя ждут слишком многого,
        |   то это их ошибка, а не твоя вина.
        |   &lt;cite&gt;Ричард Фейнман&lt;/cite&gt;
        | &lt;/blockquote&gt;
    .doc-row
        +blockquote('Ты не несешь ответственности за то, чего ждут от тебя другие люди. Если от тебя ждут слишком многого, то это их ошибка, а не твоя вина.', 'Ричард Фейнман')

    h3 JADE
    h4 Миксин
    pre
        | +blockquote(cite, name)

    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
        tbody
            tr
                td cite
                td Текст цитаты
                td string
            tr
                td name
                td Имя автора
                td string

    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $blockquote-color
                td Цвет текста
                td color
                td -
                td #8a8a8a
            tr
                td $blockquote-border-size
                td размер бордера
                td number
                td px
                td 1px
            tr
                td $blockquote-border-color
                td Текст бордера
                td color
                td -
                td #cacaca
            tr
                td $blockquote-font-family
                td Шрифт текста
                td string
                td -
                td $font
            tr
                td $blockquote-font-size
                td Размер текста
                td number
                td px
                td 16px
            tr
                td $blockquote-name-font-family
                td Шрифта автора цитаты
                td string
                td -
                td $font-italic
            tr
                td $blockquote-name-font-size
                td Размер тектста автора цитаты
                td number
                td px
                td 14px

    br
    hr
    br


    h2#typography-small Small

    h3 Описание
    p В HTML5 тег <code>&lt;small&gt;</code> теперь имеет немного иной смысл - «Текст мелким шрифтом» (информация, являющаяся юридической формальностью, как то лицензия предприятия или юридический адрес и др.)
    p Стили применяются к тегу <code>&lt;small&gt;</code>
    h3 Пример
    pre
        | &lt;small&gtТекст&lt;/small&gt

    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $small-font-size
                td Размер текста
                td number
                td px
                td #$base-font-size - 2

    br
    hr
    br


    h2#typography-paragraph Параграф
    h3 Пример
    pre
        | &lt;p&gt;Параграф&lt;/p&gt;
    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td#paragraph-margin-bottom $paragraph-margin-bottom
                td Нижний отступ от параграфа
                td number
                td rhythm
                td 1

    br
    hr
    br


    h2#typography-links Ссылка

    h3 Пример
    pre
        | &lt;a href="#"&gt; Ссылка &lt;/a&gt;
    .doc-row
        a(href="") Ссылка
    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $link-color
                td Цвет
                td color
                td -
                td #0000FF
            tr
                td $link-color-hover
                td Цвет
                td color
                td -
                td lighten(#0000ff, 5%)
            tr
                td $link-color-active
                td Цвет :active ссылки
                td color
                td -
                td darken($link-color, 5%)
            tr
                td $link-text-decoration
                td Подчеркивание ссылки
                td string
                td normal | invert | reset
                td normal
    p  Подчёркивание у ссылки может быть в трёх состояниях
    table
        thead
            tr
                th Значение
                th Обычное состояние
                th Наведенное состояние
        tbody
            tr
                td <b>normal</b>
                td подчеркивание нету
                td подчеркнуто
            tr
                td <b>invert</b>
                td подчеркнуто
                td подчеркивание нету
            tr
                td <b>reset</b>
                td подчеркивание нету
                td подчеркивание нету

    br
    hr
    br

    h2#typograoy-list Списки
    p.
        Так обычно списки используются для навигации и прочего, по-умолчанию стили
        списков "сброшены" (reset). Чтобы вернуть нормальную работу списков, надо родителю
        списков добавить класс <code>.b-typo-reset</code>
    pre
        | &lt;div class="<b>b-typo-reset</b>"&gt; Ссылка
        |       &lt;ul&gt;
        |           &lt;li&gt; ... &lt;li&gt;
        |       &lt;ul&gt;
        |       &lt;ol&gt;
        |           &lt;li&gt; ... &lt;li&gt;
        |       &lt;ol&gt;
        | &lt;/div&gt;

    h3#typography-ul Несортированный список
    p Стили применяются к <code>&lt;ul&gt;</code>, если у родителя есть класс <code>.b-typo-reset</code>.
    pre
        |   &lt;ul&gt;
        |       &lt;li&gt; Пункт списка &lt;li&gt;
        |   &lt;ul&gt;
    .doc-row
    .b-typo-reset
        ul
            li Пункт списка
            li Пункт списка
            li Пункт списка
            ul
                li Подпункт списка
                li Подпункт списка
                li Подпункт списка

    h3#typography-ol Сортированный список
    p Стили применяются к <code>&lt;ol&gt;</code>, если у родителя есть класс <code>.b-typo-reset</code>.
    pre
        |   &lt;ol&gt;
        |       &lt;li&gt; Пункт списка &lt;li&gt;
        |   &lt;ol&gt;
    .doc-row
    .b-typo-reset
        ol
            li Пункт списка
            li Пункт списка
            li Пункт списка
            ol
                li Подпункт списка
                li Подпункт списка
                li Подпункт списка
    h3 SASS
    h4 Параметры
    table
        thead
            tr
                th Имя
                th Описание
                th Тип
                th Зн.
                th По-умолчанию
        tbody
            tr
                td $list-color
                td Цвет булетов
                td color
                td -
                td $black
            tr
                td $list-font-size
                td Размер шрифта
                td number
                td px
                td $base-font-size
            tr
                td $list-sublist-padding-left
                td Отступ слева (список в списке)
                td number
                td gutter
                td 4
            tr
                td $list-margin-bottom
                td Нижний отступ от списка
                td number
                td rhytm
                td
                    a(href="#paragraph-margin-bottom") $paragraph-margin-bottom

    br
    hr
    br


    h2#typography-abbr
