.b-map-tabs
    a(href="javascript:;").b-map-tabs__btn.b-btn Фильтр
    ul.b-map-tabs__list
        li.b-map-tabs__item.is-active
            a(href="javascript:;" data-type="0").b-map-tabs__link Все
        li.b-map-tabs__item
            a(href="javascript:;" data-type="1").b-map-tabs__link Библиотеки
        li.b-map-tabs__item
            a(href="javascript:;" data-type="2").b-map-tabs__link Школы
        li.b-map-tabs__item
            a(href="javascript:;" data-type="3").b-map-tabs__link Грубые люди
