// LAYOUT
@import '../../layout/module/map';

// MODULE
.b-map__base {
    width: 100%;
    height: 500px;
    line-height: 22px;
}

.b-map__base[data-noinit] {
    display: none;

    @media #{$medium-up} {
        display: block;
    }
}

.b-map__cnt {
    position: relative;
}

.b-map__mobile {
    position: relative;

    @media #{$medium-up} {
        display: none;
    }
}

.b-map__img {
    width: 100%;
    height: 320px;
    background: url('/img/map/mobile-view.jpg');
    background-size: cover;
}

.b-map__btn {
    @include span(full);
    position: absolute;
    bottom: rhythm(3);
}

// ZOOM controls
.b-map__zoom {
    @include transition(box-shadow);
    display: none;
    background-color: $white;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: gutter(1);
    box-shadow: 2px 2px 25px rgba($black, .2);

    &:hover,
    &:focus {
        text-decoration: none;
        box-shadow: 2px 2px 25px rgba($black, .3);
    }

    &:active {
        box-shadow: 2px 2px 25px rgba($black, .4);
    }

    @media #{$medium-up} {
        display: block;
    }
}

.b-map__zoom-in {
    top: 43%;
}

.b-map__zoom-out {
    top: 55%;
}

//STATE
@import '../../state/map/map';
