// LAYOUT
@import '../../layout/module/flat/flat';

// MODULE
.b-flat {
    @include grid-clearfix();

    img {
        max-width: 100%;
    }
}

.b-flat__wrap {
    @include grid-clearfix();
}

.b-flat__left {
    @include span(full);

    @media #{$big-up} {
        @include span(5);
    }
}

.b-flat__ttl {
    @include span(full);

    @media #{$big-up} {
        @include span(7);
        @include margin-trailer(2);
    }
}

.b-flat__right {
    @include span(full);

    @media #{$big-up} {
        @include span(7 last);
        @include margin-leader(-2);
    }
}

.b-flat__print-wrap {
    @include span(full);

    @media #{$big-up} {
        @include span(5 last);
    }
}

.b-flat__row {
    @include margin-trailer(1);

    @media #{$big-up} {
        @include margin-trailer(3);
    }
}

.b-flat__col {
    @include span(full);
    @include margin-trailer(1);

    @media #{$big-up} {
        @include span(6);
        @include margin-trailer(0);
    }
}

.b-flat__key {
    @include text-transform();
    color: $gray;
    font-family: $font;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
}

.b-flat__val {
    @include margin-trailer(.5);
    font-family: $font;
    font-size: 30px;
    line-height: 40px;
}

.b-flat__btn {
    @include margin-leader(.3);
    @include margin-trailer(4);
}

.b-flat__img-wrap {
    min-height: 105px;
}

.b-flat__param-list {
    .b-param-list__data {
        width: 20%;
    }
}

.b-flat__check-another-room {
    @include grid-clearfix();
    @include margin-trailer(1);
    width: 100%;

    @media #{$medium-up} {
        text-align: right;
    }

    a {
        @include text-transform();
        font-size: 13px;
        line-height: 24px;
        font-family: $font;
        font-weight: 700;
    }
}

.b-flat__check-another-room-wrap {
    width: 280px;
    float: right;
    color: $black;
    margin-top: 5px;
}

.b-flat__link {
    float: left;
    margin-right: gutter(3);
}

.b-flat__print {
    float: left;

    .b-icons {
        position: relative;
        top: 8px;
    }
}

.b-flat__print-small {
    font-family: $font;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    text-align: left;
    padding-left: 65px;
    display: inline-block;
}

.b-flat__right-img {
    @include margin-trailer(1);
    width: 100%;
    text-align: center;

    a {
        border-bottom-color: transparent;
    }

    @media #{$big-up} {
        @include margin-trailer(0);
    }
}


.b-flat__other {
    @include margin-leader(1);
    font-family: $font;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;


    @media #{$medium-up} {
        @include margin-leader(1);
        margin-left: gutter(1);
    }
}
