// LAYOUT
@import '../../layout/module/flat/flat-card';

// MODULE
.b-flat-card {
    color: $black;
    border: 1px solid $gray;
    background-color: $white;
    display: block;
}

.b-flat-card__header {
    @include grid-clearfix();
    padding: {
        top: rhythm(1);
        right: gutter(1);
        bottom: rhythm(.75);
        left: gutter(1);
    };
    border-bottom: 1px solid $gray;

    @media #{$large-up} {
        padding: {
            right: gutter(1.5);
            left: gutter(1.5);
        };
    }
}

.b-flat-card__param {
    padding: {
        top: rhythm(.75);
        right: gutter(1);
        bottom: rhythm(1);
        left: gutter(1);
    };

    @media #{$large-up} {
        padding: {
            right: gutter(1.5);
            left: gutter(1.5);
        };
    }
}

.b-flat-card__descr {
    float: left;
    width: span(11);
    padding-right: gutter(.5);

    @media #{$medium-up} {
        width: span(9);
    }
}

.b-flat-card__img-wrap {
    display: none;

    @media #{$medium-up} {
        display: block;
        float: right;
        width: span(3);
        text-align: right;

        img {
            max-width: 100%;
        }
    }

    a:hover {
        border-bottom-color: transparent;
    }
}

.b-flat-card__floors {
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: $font;
    font-weight: 700;
}

.b-flat-card__ttl {
    @include margin-trailer(.25);
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    font-family: $font;
}

.b-flat-card__caption {
    font-size: 16px;
    line-height: 24px;
    color: $gray;
}
