.b-param-list__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;

    &:last-child {
        @include margin-trailer(0);
    }
}

.b-flat-popup__dots {
    flex-grow: 1;
    border-bottom: 1px dotted $gray;
    margin: {
        right: 4px;
        left: 4px;
    };
}

.b-param-list__data {
    width: 40%;

    @media #{$medium-up} {
        width: 35%;
    }
}
