.al-b-menu {
    @include transition(top, bottom);
    @include adjust-font-size-to(16px, 5);
    background-color: $white;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: -120px;
    left: 0;
    color: $black;
    border-bottom: 5px solid $controls-color;
}

.al-b-menu__wrap {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

.al-b-menu__ctrl {
    @include squish-text;
    @include controls-bg-color($color-hover: false);
    width: 44px;
    padding: 0;
    height: rhythm(1.5);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -22px;
    content: '';

    &:after {
        $image: 'al-b-menu__ctrl';
        @include sprite($image);
        content: '';
        position: absolute;
        top: 50%;
        margin-top: - (sprite-height($image) / 2);
        left: 50%;
        margin-left: - (sprite-width($image) / 2);
    }
}

//STATE
@import '../../state/header/menu';
