doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        link(rel='stylesheet' href="/styles/app.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []
        -links.push({'url': 'home', 'name': 'Главная страница'});

        h2 Список свёрстанных страниц
        ol
            -each link in links
                li
                    a(href!=link.url+'.html')=link.name

        .l-banks
            .l-banks__wrap
                .l-banks__item
                    .b-bank.tilt
                        .b-bank__row(onclick="location.href='/forbuyer/sposob/vtbmoskva/'")
                            .b-bank__col
                                .b-bank__img-wrap
                                    img.b-bank__img(src='//www.sevgorod.ru.opt-images.1c-bitrix-cdn.ru/upload/kelnik.mortgage/c8f/c8fc54a68ba35bbf4dad5a452c68e2f4.jpg?14812765578353')
                        .b-bank__row(onclick="location.href='/forbuyer/sposob/vtbmoskva/'")
                            .b-bank__col
                                .b-bank-percents__lable Процентная ставка
                                .b-bank-percents__value 10.85%
                            .b-bank__col
                                .b-bank-percents__lable Первый взнос
                                .b-bank-percents__value от 15%
                        .b-bank__row(onclick="location.href='/forbuyer/sposob/vtbmoskva/'")
                            .b-bank__col
                                .b-bank-percents__lable Срок кредита
                                .b-bank-percents__value до 30 лет
                            .b-bank__col
                                a.b-bank__arrow(href='/forbuyer/sposob/vtbmoskva/')
                                    svg.b-icon__arrow-square-dims(style='fill: #003471')
                                        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow-square')


    svg.b-icons__svg(xmlns='http://www.w3.org/2000/svg' style="display: none")
        symbol#arrow-narrow(viewbox='0 0 34 16')
            path(d='M34 8l-8-8-1.4 1.4L30.2 7H0v2h30.2l-5.6 5.6L26 16l8-8z')
        symbol#arrow-square(viewbox='0 0 30 29')
            path(d='M30 14.5L15.5 0l-2.1 2.1L24.3 13H0v3h24.2L13.4 26.9l2.1 2.1L30 14.5z')
        symbol#arrow_mini(viewbox='0 0 15 13')
            path.st0(d='M14.9 6.6L8.4 13l-1.1-1.1 4.5-4.3H0V6h12.2l-5-4.8L8.3 0l6.6 6.6z')
        symbol#booking-off(viewbox='0 0 155 223')
            title 2
            path(d='M143.5 89.5h-132C5.2 89.5 0 94.6 0 101v110.5c0 6.3 5.2 11.5 11.5 11.5h132c6.3 0 11.5-5.2 11.5-11.5V101c0-6.4-5.2-11.5-11.5-11.5zm-11.5 23V200H23v-87.5h109z')
            path(d='M80.1 0c-30.9 0-56 25.1-56 55.9v40.4c0 6.3 5.2 11.5 11.5 11.5s11.5-5.2 11.5-11.5V55.9c0-18.1 14.8-32.9 33-32.9s33 14.7 33 32.9c0 6.3 5.2 11.5 11.5 11.5s11.5-5.2 11.5-11.5C136.1 25.1 111 0 80.1 0z')
        symbol#booking-on(viewbox='0 0 155 223')
            title 2
            path(d='M143.5 89.5h-132C5.2 89.5 0 94.6 0 101v110.5c0 6.3 5.2 11.5 11.5 11.5h132c6.3 0 11.5-5.2 11.5-11.5V101c0-6.4-5.2-11.5-11.5-11.5zm-11.5 23V200H23v-87.5h109z')
            path(d='M135.5 47.4C131.4 20.6 108.1 0 80.1 0S28.9 20.6 24.8 47.4c-.4 2.8-.6 5.6-.6 8.5v40.4c0 6.3 5.2 11.5 11.5 11.5s11.5-5.2 11.5-11.5V55.9c0-1.1.1-2.3.2-3.4C49 36 63.1 23 80.1 23c17.1 0 31.1 13 32.8 29.5.1 1.1.2 2.2.2 3.4v40.4c0 6.3 5.2 11.5 11.5 11.5s11.5-5.2 11.5-11.5V55.9c0-2.9-.2-5.8-.6-8.5z')
        symbol#border-brush(viewbox='0 0 131 10')
            path.cls-1(d='M2.3 6.262l-.983-.748.983-.249v-.5s14.449-2.574 20.74-2.989S41.288.419 48.055.28 65.7-.08 72.083.031s20.211.9 26.332 1.246 23.256 1.9 27.319 1.994-3.176.233-5.267.249 9.6.783 8.887.748a1.044 1.044 0 0 0-.987.5l2.633.248-1.646.249H123.1c2.537.957 7.57.748 7.57.748a28.819 28.819 0 0 1-7.9.249c-4.394-.463 7.506 1 7.9.748s-.022.554-3.621.5-6.2-.4-10.2-.748-5.027-.083-5.267 0a28.585 28.585 0 0 0 2.963.249s4.873.349 5.924.5 4.424.511 4.938.5 4.148-.009 3.291 0-.611.694-3.95.5-11.5-1.041-12.836-1-9.546-.748-14.483-1-18.844-1.059-25.673-1-18.761 0-23.7.249-19.42 1.312-24.028 1.748S6.912 10 5.6 10a19.206 19.206 0 0 1-3.621-.249c-.741-.187-.329-.5-.329-.5A5.031 5.031 0 0 0 3.291 9a2.8 2.8 0 0 0-1.975-.5.944.944 0 0 1-.987-.245l.329-.5L0 7.009l.658-.249h1.317z')
        symbol#cloud-download(viewbox='0 0 24 22')
            path.st0(d='M20 16.5v-2.6c1.2-1.3 2-3 2-4.9 0-3.9-3.1-7-7-7-3.5 0-6.4 2.6-6.9 6H6c-2.2 0-4 1.8-4 4 0 1.5.8 2.8 2 3.4v2.2c-2.3-.8-4-3-4-5.6 0-3.3 2.7-6 6-6 .2 0 .3 0 .5.1C7.7 2.5 11.1 0 15 0c5 0 9 4 9 9 0 3.1-1.6 5.9-4 7.5zm-11.6.6l2.6 1.7V11c0-.6.4-1 1-1s1 .4 1 1v7.9l2.6-1.7c.5-.3 1-.1 1.3.4.3.5.1 1.2-.3 1.5l-3.8 2.5c-.1.1-.2.2-.3.2-.1.1-.2.1-.4.1-.1 0-.2 0-.3-.1 0 0-.1 0-.1-.1-.1 0-.1-.1-.2-.1l-.1-.1-3.8-2.6c-.5-.3-.6-1-.3-1.5.1-.4.7-.6 1.1-.3z')
        symbol#corner-mask(viewbox='0 0 100 100')
            path(d='M100 0v100C44.8 100 0 55.2 0 0h100z')
        symbol#cross(viewbox='0 0 30 30')
            path.st0(d='M30.1 2.1L27.9-.1 15 12.9 2.1-.1-.1 2.1l13 12.9-13 12.9 2.2 2.2 12.9-13 12.9 13 2.2-2.2-13-12.9z')
        symbol#fav(viewbox='0 0 20 19')
            path(d='M9.985 18.101l-.738-.486c-.92-.606-8.98-6.066-8.98-11.304C.267 2.403 3.143.294 5.848.294c1.552 0 3.014.637 4.135 1.758C11.1.934 12.566.294 14.121.294c2.706 0 5.581 2.109 5.581 6.017 0 5.238-8.06 10.699-8.98 11.304zM5.848 3.01c-1.389 0-2.884 1.032-2.884 3.301 0 2.87 4.617 6.787 7.023 8.523 2.982-2.127 7.019-5.899 7.019-8.523 0-2.268-1.496-3.301-2.885-3.301-1.157 0-2.203.656-2.871 1.801a2.338 2.338 0 0 0-.075.133l-1.19 2.257-1.191-2.257c-.023-.042-.043-.08-.064-.115C8.052 3.666 7.005 3.01 5.848 3.01z', fill='#ec3f3f')
        symbol#favorite_empty(viewbox='0 0 62 56')
            path.st0(d='M34 53.9l-2.3 1.5-2.3-1.5C26.4 52 0 34.8 0 18.3 0 6 9.1.3 17.6.3c4.9 0 10.5 2 14 5.5 3.5-3.5 7.1-5.5 12-5.5 8.5 0 17.8 5.6 17.8 17.9C61.5 34.8 36.9 52 34 53.9zm8.7-43.3c-5.9 0-9 3.9-11.4 6.2-2.6-2.2-6.7-6.2-11.4-6.2-4.9 0-10 2.7-10 9.7C9.9 28 26 40.4 29 42.7l2.6 2.1 3-2.1c3.6-2.3 17.6-14.5 17.6-22.2 0-7-4.3-9.9-9.5-9.9z')
        symbol#fb(viewbox='0 0 17 17')
            path.st0.st1(d='M16.1 0H1C.5 0 0 .4 0 .9V16c0 .5.5 1 1 1h8.1v-6.6H6.9V7.8h2.2V5.9c0-2.2 1.3-3.4 3.3-3.4.9 0 1.7.1 2 .1v2.3H13c-1.1 0-1.3.5-1.3 1.2v1.6h2.5l-.2 2.7h-2.2V17h4.3c.5 0 .9-.4.9-.9V.9c0-.5-.4-.9-.9-.9z')
        symbol#heart(viewbox='0 0 19.4 18')
            path.st0(d='M9.7 18l-.7-.5c-.9-.6-9-6.1-9-11.3 0-3.9 2.9-6 5.6-6C7.2.2 8.6.8 9.7 2 10.8.9 12.3.2 13.8.2c2.7 0 5.6 2.1 5.6 6 0 5.2-8.1 10.7-9 11.3l-.7.5z')
        symbol#instagram(viewbox='0 0 17 17')
            path.st0(d='M17 2.4C17 1.1 15.9 0 14.6 0H2.4C1.1 0 0 1.1 0 2.4v12.3C0 15.9 1.1 17 2.4 17h12.3c1.3 0 2.4-1.1 2.4-2.4V2.4zM8.5 5.2c1.8 0 3.3 1.5 3.3 3.3s-1.5 3.3-3.3 3.3-3.3-1.5-3.3-3.3 1.5-3.3 3.3-3.3zm6.6 9.4c0 .3-.2.5-.4.5H2.4c-.3 0-.5-.2-.5-.5V7.1h1.6c-.1.4-.2.9-.2 1.4 0 2.9 2.3 5.2 5.2 5.2s5.2-2.3 5.2-5.2c0-.5-.1-1-.2-1.4h1.6v7.5zm0-9.9c0 .3-.2.5-.5.5h-2.4c-.3 0-.5-.2-.5-.5V2.4c0-.3.2-.5.5-.5h2.4c.3 0 .5.2.5.5v2.3z')
        symbol#map-marker_mini(viewbox='0 0 9 11')
            path.st0.st1(d='M4.5.1C2.1.1.2 2 .2 4.4c0 3 4.3 6.6 4.3 6.6s4.3-3.7 4.3-6.6C8.8 2 6.9.1 4.5.1zm0 6.9C3 7 2 5.7 2 4.7 2 3 3 2 4.5 2 5.9 2 7 3 7 4.7 7 6 6 7 4.5 7z')
        symbol#phone(viewbox='0 0 42.5 42.2')
            path(d='M30 27.4l-3.3 3.3c-2 2-5.3 2-7.3 0l-7.9-7.9c-2-2-2-5.3 0-7.3l3.3-3.3C13.6 9.2 13 6 13 2.6c0-.9 0-1.7.1-2.6H.2C.1 1.3 0 2.5 0 3.8 0 25 17.2 42.2 38.4 42.2c1.4 0 2.7-.1 4.1-.2V29c-1 .1-2 .2-3.1.2-3.3 0-6.5-.6-9.4-1.8z')
        symbol#rarr(viewbox='0 0 50 37.7')
            path.st0(d='M0 17h42.3L28 2.8 30.9 0 50 19 31.1 37.7l-2.8-2.8 14.1-14H0z')
        symbol#toparr(viewbox='0 0 28.3 28.7')
            path.st0(d='M28.3 14.2L14.2 0 0 14.4l2.1 2.1L12.7 5.8v22.9h3V5.8l10.5 10.5z')
        symbol#vk(viewbox='0 0 17 17')
            path.st0(d='M14.4 0H2.6C1.2 0 0 1.2 0 2.6v11.8C0 15.8 1.2 17 2.6 17h11.8c1.4 0 2.6-1.2 2.6-2.6V2.6C17 1.2 15.8 0 14.4 0zm-.6 11.9h-1.6s-.3.1-.8-.2c-.6-.4-1.1-1.4-1.6-1.3-.4.1-.4 1.1-.4 1.1s0 .2-.1.3c-.1.1-.3.1-.3.1h-.6s-1.5.1-2.9-1.3C4 9 2.7 6 2.7 6s-.1-.2 0-.3c.1-.1.3-.1.3-.1h1.7s.2 0 .3.1c.1.1.1.2.1.2s.3.7.6 1.3c.7 1.2 1 1.5 1.3 1.3.3-.2.2-1.7.2-1.7s0-.5-.2-.8c-.1-.2-.3-.2-.4-.2-.1 0 .1-.2.3-.3.3-.1.8-.2 1.5-.1.5 0 .6 0 .8.1.6.1.4.7.4 2 0 .4-.1 1 .2 1.2.1.1.4 0 1.2-1.3.4-.6.6-1.4.6-1.4l.2-.2c.1-.1.2 0 .2 0h1.7s.5-.1.6.2c.1.2-.2.8-.9 1.8-1.2 1.3-1.3 1.2-.4 2.1.9.9 1.1 1.3 1.2 1.3.4.7-.4.7-.4.7z')
        symbol#zoom(viewbox='0 0 21 21')
            defs
                path#tmagnify.cls-1(d='M20.712 20.686a1.011 1.011 0 0 1-1.426.008L14.6 16.035a9.015 9.015 0 1 1 1.435-1.435l4.685 4.661a1 1 0 0 1-.008 1.425zM9 2a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm3 8h-2v2a1 1 0 1 1-2 0v-2H6a1 1 0 1 1 0-2h2V6a1 1 0 1 1 2 0v2h2a1 1 0 1 1 0 2z')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')

    script.
        $('.tilt')
            .on('mouseenter', function() {
                animate = false
            })
            .on('mousemove', mouseMove)
            .on('mouseleave', mouseLeave)

        function mouseMove(e) {
                let bRect = this.getBoundingClientRect();
                let mX    = e.pageX;
                let mY    = e.pageY;
                let pX    = Math.floor((mX - bRect.left) / bRect.width * 100);
                let pY    = Math.floor((mY - bRect.top) / bRect.height * 100);
                let bgi   = `radial-gradient(${bRect.width}px at ${pX}% ${pY}%, rgba(255,255,255,.5), rgba(255,255,255,0))`;
                let rotX  = (pY - 50) / 5;
                let rotY  = -(pX - 50) / 5;
                let shd   = `0 ${rotX}px ${Math.abs(rotX) * 5}px rgba(0,0,50,.15), 0 ${pY/10}px ${pY/5}px rgba(0,0,0,.25)`;
                let trs   = `rotateX(${rotX}deg) rotateY(${rotY}deg)`;

            $('.tilt').css('background-image', bgi).addClass('hover');
            $('.tilt').css('box-shadow', shd);
            $('.tilt').css('transform', trs);
        }

        function mouseLeave() {
            $('.tilt').css('background-image', '').removeClass('hover');
            $('.tilt').css('box-shadow', '');
            $('.tilt').css('transform', '');
        }

        // Just used for the teaser animation.
        // I wouldn't suggest emulating your own mouse events.
        // Ever.
        var animFrames = 100;
        var animate = true;

        (function fakeAnim(frame) {
            frame           = frame || 1;
                let size    = 500;
                let half    = size / 2;
                let fakeEvt = {
                        pageX: 0,
                        pageY: 0
                    };
                let fakeElm = {
                        getBoundingClientRect: function() {
                            return {
                                top   : 0,
                                left  : 0,
                                width : size,
                                height: size
                            }
                        }
                    };
            fakeEvt.pageY   = Math.sin((frame / animFrames) * Math.PI * 2) * half + half;
            fakeEvt.pageX   = Math.cos((frame / animFrames) * Math.PI * 2) * half + half;
            mouseMove.call(fakeElm, fakeEvt);

            if (animate && frame < animFrames) {
                window.requestAnimationFrame(function() {
                    fakeAnim(frame + 1);
                });
            } else {
                mouseLeave();
            }
        })();