.l-flat {
    @extend %l-row;
    @include rhythm-padding(3);
}

.l-flat__title {
    @include span(full);
}

.l-flat__cnt {
    @include grid-clearfix();
}

.l-flat__item {
    @include span(full);
    @include margin-trailer(1);

    @media #{$medium-up} {
        @include span(6);
    }

    @media #{$xlarge-up} {
        @include span(4);
    }
}
