.l-flat-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media #{$small-only} {
        margin-bottom: 20px;
    }
}

.l-flat-card__item {
    margin-bottom: gutter(2);
    flex: 0 1 100%;

    @media #{$big-up} {
        flex-basis: calc(50% - 20px);
        margin-bottom: 40px;
    }

    @media #{$xlarge-up} {
        flex-basis: calc(100% / 3 - 40px);
        margin-bottom: 60px;
    }
}
