.b-building__sort_style_asc:after {
    $image: 'building__sort_style_asc';
    @include sprite($image);
    margin-top: - sprite-height($image) / 2;
}

.b-building__sort_style_desc:after {
    $image: 'building__sort_style_desc';
    @include sprite($image);
    margin-top: - sprite-height($image) / 2;
}

.b-building__results_display_block {
    display: block;
}

.b-building.is-active {

    .b-building__results {
        display: block;
    }
}
