.b-favorite.is-active {
    .b-favorite__svg {
        fill: $favorite-bg-color-hover;

        &:hover {
            fill: darken($favorite-bg-color-hover, 7%);
        }
    }
}

// Theme
.b-favorite_theme_target {
    @include transition(opacity);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 10%;
    background-color: $gray;
    border-radius: 0 0 3px 3px;
    padding: 5px 10px;
    z-index: 1;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}
