// Выбранное состояние
.b-search-filter__input:checked {
    + .b-search-filter__label {
        background-color: $black;
        color: $white;

        @media #{$large-up} {
            &:hover {
                background-color: lighten($black, 20%);
            }
        }
    }

    + .b-search-filter__sub-label {
        background-color: $black;
        color: $white;

        @media #{$large-up} {
            &:hover {
                background-color: lighten($black, 20%);
            }
        }
    }
}

// Выключенное состояние
.b-search-filter__input:disabled {
    + .b-search-filter__label {
        background-color: $gray;
        color: $white;
        border-color: $gray;
        cursor: default;

        @media #{$large-up} {
            &:hover {
                background-color: $gray;
            }
        }
    }

    + .b-search-filter__sub-label {
        background-color: $gray;
        color: $white;
        border-color: $gray;
        cursor: default;

        @media #{$large-up} {
            &:hover {
                background-color: $gray;
            }
        }
    }
}


// Выключенное состояния комнатности
.b-search-filter__floor input:disabled {
    + label {
        color: $gray;
    }
}


//
.b-search-filter__clear-input.is-active {
    display: block;
    opacity: 1;
    visibility: visible;
}
