.b-building__cnt {
    @include padding-leader(2);
    border: 1px solid $black;
    height: 200px;
    text-align: center;
}

.b-building__results {
    display: none;
}

.b-building__plan {
    @media #{$big-up} {
        width: 80px;
    }
}

// Таблица
.b-building__table {
    @include margin-trailer(1);

    thead {
        a {
            border-bottom: 1px dashed $black;
        }
    }

    tr {
        @include padding-trailer(1);
        @include margin-trailer(1);
        display: block;
        position: relative;

        @media #{$medium-up} {
            @include span(6);
        }

        @media #{$big-up} {
            @include padding-trailer(0);
            @include margin-trailer(0);
            width: 100%;
            padding: 0;
            float: none;
            display: table-row;
            position: static;
        }


        &.is-active {
            opacity: .3;
        }
    }

    td {
        display: block;
        padding: 10px 0;

        @media #{$big-up} {
            display: table-cell;
        }
    }

    a {
        color: $black;

        &:hover {
            text-decoration: none;
        }
    }

    .b-building__desktop-view {
        display: none;

        @media #{$big-up} {
            display: table-row;
        }
    }

    .b-building__mob-view {
        @media #{$big-up} {
            display: none;
        }
    }
}

.b-building__progress {
    @include text-transform();
}

.b-building__sort {
    position: relative;
    margin-right: gutter(1);

    &:after {
        position: absolute;
        top: 50%;
        right: -15px;
        content: '';
    }
}

.b-building__info {
    @include grid-clearfix();
    margin: 0 -20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.b-building__more {
    @include span(full);

    @media #{$medium-up} {
        @include span(8);
    }
}

.b-building__show {
    @include span(full);

    @media #{$medium-up} {
        @include span(4);
    }
}

.b-building__more-results {
    position: relative;
    min-height: 48px;
}

.b-building__text-wrap {
    float: left;
    width: 50%;
    border-bottom: 1px dashed $gray;
}

.b-building__text {
    background-color: $white;
    position: relative;
    top: 1px;
    padding-right: 5px;
}

.b-building__favorite {
    position: absolute;
    top: 0;
    right: 0;

    @media #{$big-up} {
        position: static;
    }
}

//STATE
@import '../../state/search/building';
