$favorite-star-width: 33px;
$favorite-star-height: 31px;
$favorite-stroke-width: 3px;
$favorite-stroke-color: #ef7924;
$favorite-bg-color: none;

//hover
$favorite-bg-color-hover: #ef7924;

.b-favorite {
    display: inline-block;
}

.b-favorite__svg {
    width: $favorite-star-width;
    height: $favorite-star-height;
    stroke-width: $favorite-stroke-width;
    stroke: $favorite-stroke-color;
    fill: $favorite-bg-color;

    &:hover {
        fill: $favorite-bg-color-hover;
    }
}

.b-favorite__num {
    text-align: center;
    color: $black;
    font-size: 16px;
    line-height: 24px;
}

//STATE
@import '../../state/search/favorite';
