//LAYOUT
@import '../../layout/module/search/search-result';

//MODULE
.b-search-result__ttl {
    @include span(full);
    font-size: 30px;
    line-height: 36px;
}

.b-search-result__buildings {
    @include span(full);
}

.b-search-result__building {
    @include margin-trailer(2);
}
