.al-l-filter {
    background-color: $white;
    min-height: 100%;

    //scss-lint:disable ImportantRule
    @media #{$small-only} {
        display: block !important;
    }

    @media #{$medium-only} {
        display: block !important;
    }

    @media (min-width: 1023px) {
        display: none;
    }
}

.al-l-filter__wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.al-l-filter__col {
    @include container();
    @include grid-clearfix();
    @include rhythm-padding(1);
    max-width: 960px;

    h2 {
        @include margin-trailer(1.5);
        color: $black;
    }
}
