.al-l-nav {
    @include transition(top);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 4;

    .l-header {
        padding: 0;
        margin: 0;
        max-width: none;
    }

    .l-header__wrap {
        justify-content: flex-start;
        max-width: none;
    }

    .l-header__nav {
        display: block;
        width: 60%;
    }

    .b-nav__list {
        flex-direction: row;
    }

    .l-header__menu-show {
        display: none;
    }

    &.is-active {
        top: 0;
    }
}


.al-l-nav__toggle {
    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 5;
}

.al-l-nav__cnt {
    @include transition(top);
    background-color: $nav-cnt-bg-color;
    position: absolute;
    width: 100%;
    top: - rhythm(5);
    right: 0;
    z-index: 4;
    text-align: right;

    &.is-active {
        top: 0;
    }
}
