.b-nav-doc {
    a {
        text-decoration: none;
    }
}

.b-nav-doc__item {
    font-size: 16px;
    line-height: rhythm(2);
    margin-left: gutter();
    position: relative;
    z-index: 1;
}

.b-nav-doc__sublist {
    background-color: $white;
    width: 200px;
    padding: 0 rhythm(.5);
}

.b-nav-doc__link {
    color: $blue;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.b-nav-doc__subitem {
    line-height: $base-line-height;
}

.b-nav-doc__sublink {
    line-height: rhythm(.5);
    font-weight: 400;
}

