$ajax-loader-color: $gray;
$ajax-loader-size: 150px;
$ajax-loader-overlay-background: $black;
$ajax-loader-overlay-background-opacity: .8;
$ajax-loader-time: 1s;

.b-ajax-loader {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.b-ajax-loader__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    @if ($ajax-loader-overlay-background != transparent) {
        background-color: rgba($ajax-loader-overlay-background, $ajax-loader-overlay-background-opacity);
    } @else {
        background: $ajax-loader-overlay-background;
    }
}

.b-ajax-loader__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$ajax-loader-size / 2;
    margin-left: -$ajax-loader-size / 2;
    z-index: 2;
    width: $ajax-loader-size;
    height: $ajax-loader-size;
    animation: rotation $ajax-loader-time linear infinite;

    path {
        fill: $ajax-loader-color;
    }
}

// Animation
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// STATE
@import '../state/ajax-loader';
