$bank-border-size: 1px;
$bank-border-color: $gray;

$bank-link-color: $gray;
$bank-link-font-family: $font;
$bank-link-font-size: 14px;

$bank-key-color: $gray;
$bank-key-font-family: $font;
$bank-key-font-size: 10px;
$bank-key-line-height: 14px;
$bank-key-text-transform: true;

$bank-val-color: $black;
$bank-val-font-family: $font;
$bank-val-font-size: 28px;
$bank-val-text-transform: false;

// LAYOUT
@import '../layout/module/banks';

// MODULE
.b-bank {
    border: $bank-border-size solid $bank-border-color;
    background-color: $white;
}

.b-bank__row {
    @include rhythm-padding(.5);
    @include grid-clearfix();

    @media #{$large-up} {
        padding: rhythm(1) gutter(1);
    }

    &:first-child {
        @include padding-leader(1.5);
        @include padding-trailer(0);
    }

    &:last-child {
        @include padding-trailer(1.5);
    }
}

.b-bank__col {
    @include span(full);

    @media #{$big-up} {
        @include span(6);
    }
}

.b-bank__img-wrap {
    min-height: 45px;
}

.b-bank__img {
    max-width: 100%;
}

.b-bank__key {
    font-size: $bank-key-font-size;
    line-height: $bank-key-line-height;
    font-family: $bank-key-font-family;
    color: $bank-key-color;

    @if ($bank-key-text-transform) {
        @include text-transform();
    }
}

.b-bank__val {
    font-size: $bank-val-font-size;
    line-height: $base-vertical-rhythm;
    font-family: $bank-val-font-family;
    color: $bank-val-color;
    font-weight: 700;

    @if ($bank-val-text-transform) {
        @include text-transform();
    }
}

.b-bank__link {
    font-size: $bank-link-font-size;
    line-height: $base-vertical-rhythm;
    color: $bank-link-color;
    font-family: $bank-link-font-family;
}

//STATE
@import '../state/bank';
