// LAYOUT
@import '../layout/documetns';

// MODULE
.b-documents__ttl {
    @include span(full);
    font-size: 36px;
    line-height: 48px;
    font: $font;
    font-weight: 700;
}

.b-documents__item {
    @include gallery(12);
    @include margin-trailer(1);
    display: block;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    padding-left: gutter(5);
    position: relative;

    @media #{$medium-up} {
        @include gallery(6);
        padding-left: gutter(5);
    }

    @media #{$big-up} {
        @include gallery(4);
        padding-left: gutter(3);
    }

    &:hover {
        text-decoration: none;

        .b-documents__text {
            text-decoration: underline;
        }
    }

    &:after {
        background-image: url('/img/documents/unknown.svg');
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 46px;
        height: 56px;
        background-size: cover;
    }
}

.b-documents__format {
    font-size: 11px;
    line-height: 24px;
    color: $gray;

    &:hover {
        text-decoration: none;
    }
}

//STATE
@import '../state/documents';
