// Arrows
$gallery-arrow-prev: 'gallery-prev';
$gallery-arrow-next: 'gallery-next';
// Thumbs
$gallery-thumbs-border-color: $black;
$gallery-thumbs-bg-color: $black;
$gallery-thumbs-bg-opacity: .2;
$gallery-thumbs-position: center;
// Image
$gallery-image-bg-color: #eee;
// Label
$gallery-label-color: $black;
$gallery-label-bg-color: $white;
$gallery-label-position: top;
$gallery-label-font-size: 12px;
$gallery-label-height: 1; //rhythm unit
$gallery-label-font-family: $font;
$gallery-image-container-bg-color: $gallery-image-bg-color;
// Dots
$gallery-dots-size: 6px;
$gallery-dots-color: $black;
$gallery-dots-color-hover: lighten($gallery-dots-color, 30%);
$gallery-dots-position: center;
$gallery-dots-horizontal-paddings: 0;
$gallery-dots-background-color: $gallery-image-bg-color;
// Active dot
$gallery-active-dot-bd-color: $gray;
$gallery-active-dot-bd-color-hover: darken($gray, 20%);
$gallery-active-dot-bd-width: 6px;

// Caption
$gallery-caption-width: 100%;
$gallery-caption-bg-color: $white;
$gallery-caption-color: $black;
$gallery-caption-font-size: $base-font-size;
$gallery-caption-font-family: $font;
$gallery-caption-text-align: left;
$gallery-caption-inner-position: bottom;
// Because Fotorama
/* stylelint-disable selector-class-pattern */

.b-gallery {
    position: relative;
    opacity: 0;
}

// Arrows
.b-gallery__arrow {
    @include squish-text;
    @include transition(transform);
    position: absolute;
    top: 50%;

    &:hover {
        transform: scale(1.1);
    }

    &.is-disabled {
        display: none;
    }
}

.b-gallery__arrow_show_prev {
    @include sprite($gallery-arrow-prev);
    left: span(1);
}

.b-gallery__arrow_show_next {
    @include sprite($gallery-arrow-next);
    right: span(1);
}


// Thumbs
.fotorama__nav--thumbs {
    text-align: $gallery-thumbs-position;
}

.fotorama__thumb-border {
    border-color: $gallery-thumbs-border-color;
    background-color: rgba($gallery-thumbs-bg-color, $gallery-thumbs-bg-opacity);
}


// Labels
.fotorama-lbl {
    font-size: $gallery-label-font-size;
    line-height: rhythm($gallery-label-height);
    height: rhythm($gallery-label-height);
    display: block;
    position: absolute;
    top: 100%;
    color: $gallery-label-color;
    font-family: $font;
    font-weight: 900;
    font-style: normal;
    background-color: $gallery-label-bg-color;
    padding: 0 gutter(1);
    z-index: z(default);

    @if $gallery-label-position == 'top' {
        top: - rhythm($gallery-label-height);
    } @else {
        bottom: - rhythm($gallery-label-height);
    }
}

.fotorama__nav {
    background-color: $gallery-image-container-bg-color;
}

.fotorama__nav__shaft {
    @if ($gallery-label-position == 'bottom') {
        margin-bottom: rhythm($gallery-label-height);
    } @else if ($gallery-label-position == 'top') {
        margin-top: rhythm($gallery-label-height);
    }
}


// Dots
.fotorama__dot {
    @include transition(border-color);
    border: 1px solid $gallery-dots-color;
    width: $gallery-dots-size;
    height: $gallery-dots-size;

    &:hover {
        border-color: $gallery-dots-color-hover;
    }
}

.fotorama__nav__frame--dot.fotorama__active {
    margin-right: $gallery-active-dot-bd-width;

    .fotorama__dot {
        border-width: $gallery-active-dot-bd-width;
        border-color: $gallery-active-dot-bd-color;
        margin-top: - $gallery-active-dot-bd-width / 2;

        &:hover {
            border-color: $gallery-active-dot-bd-color-hover;
        }
    }
}

.fotorama__nav--dots {
    text-align: $gallery-dots-position;
    padding: 0 $gallery-dots-horizontal-paddings;
    background-color: $gallery-dots-background-color;
}


// Image
.fotorama__stage__frame {
    background-color: $gallery-image-bg-color;
}


// Caption
.fotorama__caption {
    @if($gallery-caption-inner-position == 'top') {
        top: 0;
        bottom: auto;
    }
}

.fotorama__caption__wrap {
    width: $gallery-caption-width;
    background-color: $gallery-caption-bg-color;
    color: $gallery-caption-color;
    font-size: $gallery-caption-font-size;
    font-family: $gallery-caption-font-family;
    text-align: $gallery-caption-text-align;
    font-weight: 700;
}


// Link increase
.b-gallery__increase {
    font-size: 16px;
    line-height: 24px;
    font-family: $font;
    color: $white;
    border-bottom: 1px dashed $white;
    position: absolute;
    bottom: rhythm(4);
    left: gutter(1);
    z-index: 1;
    display: none;

    &:hover {
        text-decoration: none;
    }

    @media #{$medium-up} {
        display: block;
    }
}

/* stylelint-enable selector-class-pattern */

// STATE
@import '../state/gallery';
