$range-slider-pin-size: 20px !default;
$range-slider-pin-color: #ED5565 !default;
$range-slider-line-height: 2px !default;

.b-range-slider {
    @include grid-clearfix();
}

.b-range-slider__base {
    @include margin-trailer(1);
    @include grid-clearfix();
    @include span(full);
}

// ionDenSlider reset
.b-range-slider {
    .irs-slider {
        @include transition(box-shadow);
        width: $range-slider-pin-size * 2;
        height: $range-slider-pin-size * 2;
        border-radius: 50%;
        background: $range-slider-pin-color;
        top: $range-slider-pin-size / 2 - 4;
        cursor: pointer;

        @media #{$big-up} {
            width: $range-slider-pin-size;
            height: $range-slider-pin-size;
            top: $range-slider-pin-size - 4;

            &:hover {
                box-shadow: 1px 1px 2px rgba(darken($range-slider-pin-color, 30%), .5);
            }
        }

        &.state_hover {
            cursor: all-scroll;
        }
    }

    .irs-bar,
    .irs-bar-edge {
        background: $range-slider-pin-color;
        height: $range-slider-line-height;
    }

    .irs-bar-edge {
        width: 20px;
    }

    .irs-line {
        height: $range-slider-line-height;
    }

    .irs-from,
    .irs-to,
    .irs-min,
    .irs-max,
    .irs-single {
        top: -15px;
        cursor: pointer;

        @media #{$large-up} {
            top: -5px;
        }
    }

    .irs-min,
    .irs-max {
        display: none;
    }
}

// Временный хак, т.к. пока отказались от слайдера на странице поиска
.l-search-filter {
    .b-range-slider__base {
        visibility: hidden;
        opacity: 0;
    }
}

//STATE
@import '../state/range-slider';
