$table-border-width: 1px;
$table-border-color: #ccc;
$table-row-bg: #fff;
$table-row-alt-bg: #eee;
$table-head-bg: #3498db;
$table-font-color: #000;
$table-head-font-color: #fff;
$table-head-font-bold: true;
$table-cell-padding: 10px;
$table-text-align: left;

.b-table {
    display: block;
    border-collapse: collapse;
    width: 100%;

    @media #{$big-up} {
        display: table;
    }

    thead {
        display: block;

        @media #{$big-up} {
            display: table-header-group;
        }

        tr {
            position: absolute;
            top: -9999px;
            left: -9999px;

            @media #{$big-up} {
                position: initial;
                top: 0;
                left: 0;
            }
        }
    }

    tbody {
        display: block;

        @media #{$big-up} {
            display: table-row-group;
        }
    }

    tr {
        display: block;
        background-color: $table-row-bg;
        border: $table-border-width solid $table-border-color;

        @media #{$big-up} {
            display: table-row;
            border: none;
        }

        &:nth-of-type(odd) {
            background-color: $table-row-alt-bg;
        }
    }

    td,
    th {
        display: block;
        position: relative;
        padding: {
            left: 50%;
            right: $table-cell-padding;
            top: $table-cell-padding;
            bottom: $table-cell-padding;
        }
        border-bottom: $table-border-width solid $table-border-color;
        color: $table-font-color;
        text-align: $table-text-align;

        @media #{$big-up} {
            display: table-cell;
            position: initial;
            padding: $table-cell-padding;
            border: $table-border-width solid $table-border-color;
        }

        &:before {
            content: attr(data-column);
            position: absolute;
            top: $table-cell-padding;
            left: $table-cell-padding;
            width: 50%;
            padding-right: 10px;
            color: $table-font-color;
            white-space: nowrap;

            @media #{$big-up} {
                display: none;
            }

            @if($table-head-font-bold) {
                font-weight: bold;
            }
        }
    }
    
    th {
        background: $table-head-bg;
        color: $table-head-font-color;

        @if($table-head-font-bold) {
            font-weight: bold;
        }
    }
}

.b-table__content {
    overflow: auto;

    table {
        border-collapse: collapse;
        width: 100%;

        tr {
            background-color: $table-row-bg;

            &:nth-of-type(odd) {
                background-color: $table-row-alt-bg;
            }
        }

        td,
        th {
            padding: $table-cell-padding;
            border: $table-border-width solid $table-border-color;
            color: $table-font-color;
            text-align: $table-text-align;
        }

        th {
            background: $table-head-bg;
            color: $table-head-font-color;

            @if($table-head-font-bold) {
                font-weight: bold;
            }
        }
    }
}
