
.l-banks {
    padding-top: 10px
}

@media only screen and (min-width: 671px) {
    .l-banks {
        padding-top:20px;
        padding-bottom: 10px
    }
}

.l-banks__wrap {
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-left: -20px;
    margin-right: -20px
}

@media only screen and (min-width: 671px) {
    .l-banks__wrap {
        -ms-flex-direction:row;
        flex-direction: row
    }
}

.l-banks__item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: relative;
    margin-top: -1px
}

.l-banks__item:nth-child(2n+2) {
    margin-right: 0
}

.l-banks__item:last-of-type {
    margin-bottom: 0
}

@media only screen and (min-width: 671px) {
    .l-banks__item {
        margin-bottom:40px;
        margin-top: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 0 20px;
        width: 50%
    }

    .l-banks__item:nth-last-of-type(2) {
        margin-bottom: 0
    }
}

.b-bank {
    transition-property: box-shadow;
    transition-timing-function: ease;
    padding-top: 30px;
    padding-bottom: 20px;
    transition-duration: .7s;
    border: 1px solid rgba(0,52,113,.2);
    background-color: #fff;
    cursor: pointer;
    width: 100%
}

@media only screen and (max-width: 670px) {
    .b-bank {
        border-left:0;
        border-right: 0
    }
}

.b-bank.is-hovered,.b-bank:hover {
    z-index: 3
}

@media only screen and (min-width: 1280px) {
    .b-bank.is-hovered,.b-bank:hover {
        box-shadow:0 15px 80px rgba(0,52,113,.35)
    }

    .b-bank.is-active {
        position: absolute;
        width: calc(100% - 40px)
    }
}

.b-bank__row {
    position: relative
}

.b-bank__row:after,.l-documents:after {
    content: '';
    display: block;
    clear: both
}

@media only screen and (min-width: 1280px) {
    .b-bank__row {
        padding:15px 20px
    }
}

.b-bank__row:first-child {
    padding-top: 15px;
    padding-bottom: 0
}

.b-bank__row:last-child {
    padding-bottom: 15px
}

.b-bank__col {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px
}

@media only screen and (min-width: 960px) {
    .b-bank__col {
        width:50%;
        float: left;
        padding-left: 20px;
        padding-right: 20px
    }
}

@media only screen and (min-width: 1280px) {
    .b-bank__col {
        margin-bottom:0
    }
}

.b-bank__img-wrap {
    margin-bottom: 20px;
    height: 45px
}

.b-bank__img {
    max-width: 100%;
    max-height: 35px
}

.b-bank__key,.b-bank__link,.b-bank__val {
    font-size: 10px;
    line-height: 14px;
    font-family: "ProximaNova-bold",sans-serif;
    color: #ccc
}

.b-bank__link,.b-bank__val {
    font-size: 28px;
    line-height: 10px;
    color: #000
}

.b-bank__link {
    font-size: 14px;
    color: #ccc;
    font-family: "ProximaNova",sans-serif
}

.b-bank__arrow {
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-top: 10px;
    opacity: .6;
    border: 3px solid rgba(0,52,113,.1);
    border-radius: 100%;
    display: inline-block;
    width: 63px;
    height: 63px;
    line-height: 55px;
    vertical-align: middle
}

@media only screen and (min-width: 960px) {
    .b-bank__arrow {
        margin-top:0
    }
}

.b-bank__arrow .b-icon__arrow-square-dims {
    width: 30px;
    height: 29px;
    display: inline-block;
    pointer-events: none
}

.b-bank__arrow:hover {
    opacity: 1;
    border: 3px solid rgba(0,52,113,.1)
}

.b-bank__accordion {
    margin-top: 20px;
    padding: 0 20px
}

.b-bank__accordion .b-accordion__link {
    padding: 5px 0;
    color: #6685aa;
    font-size: 17px;
    line-height: 18px;
    white-space: normal
}

.b-bank__mort {
    padding-left: 20px;
    padding-right: 20px
}

@media only screen and (min-width: 960px) {
    .b-bank__mort {
        display:table;
        width: 100%;
        padding: 0
    }

    .b-bank__mort .b-bank__img-wrap {
        display: table-cell;
        width: 30%;
        padding-right: 70px
    }

    .b-bank__mort .b-bank__img {
        margin-bottom: -10px
    }
}

.b-bank__mort-label {
    margin-bottom: 10px
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-label {
        display:none
    }

    .b-bank__mort-value {
        display: table-cell;
        width: 25%;
        font-size: 22px;
        line-height: 35px;
        font-family: "ProximaNova-semibold",sans-serif
    }
}

.b-bank__mort-data-lbl {
    display: inline
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-data-lbl {
        display:none
    }
}

.b-bank__mort-data {
    display: inline;
    font-family: "ProximaNova-bold",sans-serif
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-data {
        display:table-cell;
        font-family: "ProximaNova",sans-serif
    }

    .b-bank__mort-row {
        display: table-cell
    }

    .b-bank__mort-rate {
        width: 13%
    }

    .b-bank__mort-first,.b-bank__mort-peroid {
        width: 15%
    }
}

.b-bank__mort-more {
    font-size: 14px;
    line-height: 24px
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-more {
        width:5%;
        text-align: right
    }
}

.b-bank__mort-link {
    display: inline
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-link {
        display:none
    }
}

.b-bank__mort-arr {
    display: none
}

@media only screen and (min-width: 960px) {
    .b-bank__mort-arr {
        display:block
    }
}

.b-bank__mort-head {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.5);
    border-top: 0;
    border-bottom-width: 2px
}

.b-bank__mort-head,.b-bank__mort-head .b-bank__mort-data {
    font-family: "ProximaNova-semibold",sans-serif
}

.b-bank__mort-head .b-bank__mort-value {
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.5);
    width: 24%
}

.b-bank__mort-head .b-bank__img-wrap {
    width: 29%;
    height: auto
}

.b-bank__row_border_bottom {
    border-bottom: 1px solid rgba(0,52,113,.2)
}

.b-bank_is_disabled {
    opacity: .2
}

.tilt {
    transition: transform .2s ease-out;
    transform-style: preserve-3d;
}

.b-bank__row {
    transform: translateZ(50px);
}