<nav id="nav-doc" class="b-nav-doc">
    <ul class="b-nav-doc__list">
        <li class="b-nav-doc__item">
            <span class="b-nav-doc__link">Примитивы</span>
            <ul class="b-nav-doc__sublist is-close-submenu">
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/popup.html" class="b-nav-doc__sublink">Попап</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/gallery.html" class="b-nav-doc__sublink">Галерея</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/tabs.html" class="b-nav-doc__sublink">Табы</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <a href="/html/doc/map.html" class="b-nav-doc__sublink">Карта</a>
                </li>
                <li class="b-nav-doc__subitem">
                    <span class="b-nav-doc__sublink">Формы</span>
                    <ul class="b-nav-doc__sublist is-close-submenu">
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-text-fields" class="b-nav-doc__sublink">Текстовые поля</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-label" class="b-nav-doc__sublink">Лейблы</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-animated-label" class="b-nav-doc__sublink">Анимированный label</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-checkbox" class="b-nav-doc__sublink">Чекбоксы</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-radio-buttons" class="b-nav-doc__sublink">Радио кнопки</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/forms.html#forms-select" class="b-nav-doc__sublink">Селект</a>
                        </li>
                    </ul>
                </li>
                <li class="b-nav-doc__subitem">
                    <span class="b-nav-doc__sublink">Навигация</span>
                    <ul class="b-nav-doc__sublist is-close-submenu">
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/nav.html#nav-signle" class="b-nav-doc__sublink">Одноуровневая</a>
                        </li>
                        <li class="b-nav-doc__subitem">
                            <a href="/html/doc/nav.html#nav-multi" class="b-nav-doc__sublink">Многоуровневая</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>